<!DOCTYPE html>
<html lang="en">

<head>
    <title>TERA Foundation: Changelog</title>
    <meta data-n-head="true" data-hid="description" name="description" content="Tera - Fast block generation, High transaction throughput, User-friendly">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../CSS/bootstrap.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../CSS/style.min.css" />


    {{File=./SITE/metrika.html}}

</head>

<body>
    <!-- Header -->
    <header id="home" class="pages-head-home">

        <!-- Nav -->
        <nav id="nav" class="navbar nav-transparent">
            <div class="container">

                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="index.html">
                            <img class="logo" src="../PIC/Tera_Text_gray.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
                            <img class="logo-alt" src="../PIC/Tera_Text.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                {{File=./SITE/ru/index_navigation.html}}
                <!-- /Main navigation -->

            </div>
        </nav>






        <!-- /Nav -->

        <!-- Social Header -->
        <div class="home-wrapper">
            <div class="container">

                <!-- Row -->
                <div class="row">
    
    
                </div>
                <!-- /Row -->
    
            </div>
        </div>
        <!-- /About Tera -->

    </header>
    <!-- /Header -->

    <!-- About Tera -->
    <div id="about" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <!-- About Tera content -->
                <div class="col-md-12 about-panel">
                    <div class="section-header text-center">
                        <h1>ОБНОВЛЕНИЯ TERA BLOCKCHAIN</h1>
					</div>
                  <div class="no-more-tables">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td valign="top">v. 0.897</td>
                                <td><a href="https://gitlab.com/terafoundation/tera/blob/master/Doc/Eng/API2.md" target="_blank">API-2</a> предназначен для облегчения написания сторонних приложений. Криптография на стороне сервера и операции POW выполняются. Поэтому он не рекомендуется для публичного доступа, поскольку он не защищен от DDOS-атак. Используйте его, если такие приложения, как сервер обмена, находятся в одной частной сети.</td>
                            </tr>
                            <tr>
                                <td valign="top" width="100">v. 0.884</td>
                                <td><ul>                                        <li>Будет улучшено поведение констант COREY_WATCH_DOG. Если у вас будет число 2: «COREY_WATCH_DOG»: 2, вместо перегрузки будет просто обрезать блоки на 5000, это сэкономит время на заполнение хэшей памяти. И. е. майнинг практически будет идти без перерыва.</li></ul></td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.880</td>
                                <td>
                                    <ul>
                                        <li>Улучшения протокола API для DApp.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.867</td>
                                <td>
                                    <ul>
                                        <li>Сделан протокол поддержки лайт-кошелька, исправлена ошибка проверки цепочек загрузки.</li>
                                        <li>Обновление не является обязательным - вы можете пропустить его.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.811</td>
                                <td>
                                    <ul>
                                        <li>Если вы зададите значение константы<br /><br />
"WATCHDOG_BADACCOUNT": 1<br /><br />

тогда проверка ошибок "BAD ACCOUNT Has" будет включена. При их накоплении в количестве 60 запускается автоматическое разбиение блокчейна на 5000 блоков, что теоретически приводит к устранению этой ошибки. Но это не точно.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.783</td>
                                <td>
                                    <ul>
                                        <li>Исправление ошибок истории и событий DApp.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.753</td>
                                <td>
                                    <ul>
                                        <li>Обновление частично завершено: <br />
1. Половина узлов завершила обновление <br />
2. Вторая половина выполняет процедуру перезаписи транзакции (это займет много времени). Для ускорения можно скачать папку БД с торрента.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.727</td>
                                <td>
                                    <ul>
                                        <li>Исправлены мелкие ошибки.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.719</td>
                                <td>
                                    <ul>
                                        <li>Обновление желательно для стабильности сети, которая состоит из узлов из разных регионов мира. Алгоритм коррекции текущего номера текущего блока является робастным с учетом отклонения по времени.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.718</td>
                                <td>
                                    <ul>
                                        <li>Алгоритм консенсуса был возвращен к исходному уровню (0,703). Эксперименты нового консенсуса провалились.<br />
Спасибо тебе за твое терпение</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.703</td>
                                <td>
                                    <ul>
                                        <li>Исправлена визуальная часть DApp. <br />
Уменьшено использование памяти при отключении регистрации статистики. <br />

Обновление не содержит каких-либо изменений в протоколе связи цепочки блоков и может быть пропущено. <br /></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.685</td>
                                <td>
                                    <ul>
                                        <li>Обновление 685 содержит две константы майнинга (на вкладке КОНФИГ, кнопка КОНСТАНТЫ): <br /> <br />
   "COUNT_MINING_CPU": 0, <br />
   "SIZE_MINING_MEMORY": 0, <br /> <br />

Если установлено значение COUNT_MINING_CPU, которое запускает указанное количество процессов майнинга, вы можете установить больше или меньше, чем физических ядер. <br /> <br />

Если установлено значение SIZE_MINING_MEMORY, это значение распространяется на все процессы (указанное число делится на количество процессов).</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.672</td>
                                <td>
                                    <ul>
<li> Исправлена ошибка вычисления хеш-таблицы (НАША УЧЕТНАЯ ЗАПИСЬ). </li>
                                         <li> С номера 10195000 изменяется вычисление хэша блока. </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.671</td>
                                <td>
                                    <ul>
                                        <li>Текущее обновление 0.671 содержит улучшенный майнер. Протокол обмена не изменился. Рекомендуется, только если вы хотите улучшить майнинг.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.666</td>
                                <td>
                                    <ul>
<li> Добавлена ​​кнопка Автообновление в кошелек (майнинг рядом с кнопкой). Если режим обновления отключен, но новая версия загружена в сеть, кнопка становится оранжевой и записывается в строке заголовка окна через косую черту (пример: 0.661 / 663). </li>
                                        <li> Добавлена ​​возможность отправлять деньги на любой публичный адрес. В этом случае новая учетная запись создается при получении. Первая строка цели платежа используется в качестве имени. За создание аккаунта будет взиматься комиссия. </li>
                                        <li> Добавлена ​​возможность неограниченного создания новых аккаунтов, но за отдельную плату. Теперь плата составляет 10 TERA, но с увеличением скорости тера она будет уменьшаться. Плата вносится на счет 0. Для этого при создании новой учетной записи используйте кнопку «Добавить в список платежей». При нажатии на нее на вкладке «Отправить» создается платежная транзакция за 10 TERA с заказом на создание аккаунта. Его нужно отправить вручную, нажав кнопку Отправить. </li>
                                        <li> Добавлены умные контракты. Более подробное описание будет в ближайшее время. </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.555</td>
                                <td>
                                    <ul>
                                        <li>Исправлена проблема с процессом POW.<br />
Больше хэшрейта.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.553</td>
                                <td>
                                    <ul>
                                        <li>Исправлена небольшая ошибка с установкой версии обновления (ранее устанавливалась всегда, даже если автообновление отключено).</li>
                                    
                                        <li>С номером блока 7000000 введена защита от DDOS-атак при создании новых учетных записей. Новые учетные записи будет разрешено создавать только в ограниченных количествах. За неограниченное количество в будущем будет расширена стандартная транзакция перевода средств. Мы планируем добавить поддержку для перевода денег на адрес кошелька (открытый ключ) без указания учетной записи. В этом случае новая учетная запись будет создана автоматически, и за ее создание будет взиматься небольшая плата (за защиту DDOS). Обычная операция перевода денежных средств с указанием счета не потребует комиссии.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.545</td>
                                <td>
                                    <ul>
                                        <li>Полное использование памяти и процессора. <br />
Больше хэшрейта.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.542</td>
                                <td>
                                    <ul>
                                        <li>Больше оптимизации памяти. Больше хэшрейта.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.501</td>
                                <td>
                                    <ul>
                                        <li>Исправлены мелкие ошибки.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.517</td>
                                <td>
                                    <ul>
                                        <li>Небольшое изменение в безопасности. Для ограниченного веб-доступа к кошельку вы можете установить внешний IP-адрес компьютера, с которого разрешен доступ, в константе «HTTP_IP_CONNECT». <br />
Пример: <br />
"HTTP_IP_CONNECT": "111.222.220.230", <br />
Примечание: <br />
Доступ к кошельку по локальному адресу 127.0.0.1 всегда разрешен.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.501</td>
                                <td>
                                    <ul>
                                        <li>Исправлены мелкие ошибки.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.452</td>
                                <td>
                                    <ul>
                                        <li>Мощность сети растет. Теперь её значение 2 ^ 27,6 = 200 Мч/с.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.450</td>
                                <td>
                                    <ul>
                                        <li>Уменьшен трафик.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.418</td>
                                <td>
                                    <ul>
                                        <li>Candidate stable 2 pushed.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.366</td>
                                <td>
                                    <ul>
                                        <li>Незначительные изменения в обновлении интерфейсной части 366:
<br /> <br />
Раздел утилит теперь имеет следующие кнопки: <br />
1. Перепишите транзакции <br />
2. Усеченная цепь <br />
3. Очистить базу данных <br />
<br />
Первые два элемента требуют ввода параметра - глубины цепочки для обработки в блоках, начиная с текущего. Последний пункт - полностью очищает базу данных, не затрагивая параметры кошелька и серверные константы. Работает так же, как удаление папки DATA / DB.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.214</td>
                                <td>
                                    <ul>
                                        <li>Для сети очень важно, чтобы время на всех узлах было одинаковым. В противном случае обмен пакетами становится невозможным.
С помощью специальных алгоритмов он синхронизируется автоматически, и общее направление таково, что оно равно времени UTC. Если вы уверены, что на вашем сервере установлена точная синхронизация времени, вы можете отключить автоматическую синхронизацию (но под свою ответственность).
Это делается в константах, установите значение: «AUTO_COORECT_TIME»: 0</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.171</td>
                                <td>
                                    <ul>
                                        <li>Выпущена вторая версия с защитой от спама. Доступно в режиме автообновления.</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td valign="top">v. 0.169</td>
                                <td>
                                    <ul>
                                        <li>Бан-лист.</li>
                                    </ul>
                                </td>
                            </tr> 
                            <tr>
                                <td valign="top">v. 0.162</td>
                                <td>
                                    <ul>
                                        <li>Если вы не укажете пароль для порта удаленного доступа http, доступ будет разрешен только с локального адреса 127.0.0.1.</li>
                                    </ul>
                                </td>
                            </tr> 
                            <tr>
                                <td valign="top">v. 0.156</td>
                                <td>
                                    <ul>
                                        <li>Добавлено автоматическое отслеживание процессов, связанных с майнингом. Если процессы теряют связь с основным процессом, они уничтожаются.</li>
                                    </ul>
                                </td>
                            </tr>  
                            <tr>
                                <td valign="top">v. 0.155</td>
                                <td>
                                    <ul>
                                        <li>Вы можете установить пароль http во время установки программы из командной строки, например:
node set httpport:8080 password:123.</li>
                                    </ul>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
				</div>
				<!-- /About Tera content -->
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->

	</div>
	<!-- /About Tera -->
{{File=./SITE/ru/footer.html}}