    <footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-md-12">

                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="/ru/"><img src="../PIC/Tera_logo.svg" alt="logo"></a>
                    </div>
                    <!-- /footer logo -->
                    <!-- footer links -->
                    <div class="footer-link">
                        <span class="footer-link-item">
                            <a href="/explorer.html">EXPLORER</a>
                        </span>
                        <span class="footer-link-item">
                            <a href="/web-wallet.html">КОШЕЛЁК</a>
                        </span>
                        <span class="footer-link-item">
                            <a href="/map.html">КАРТА СЕТИ</a>
                        </span></div>
                    <!-- /footer links -->

                    <!-- footer follow -->
                    {{File=./SITE/footer-follow.html}}
                    <!-- /footer follow -->
                     <p align="center">
                        Email основателя проекта: <a href="mailto: progr76@gmail.com">progr76@gmail.com</a>.
                    </p>          
                    <p align="center"><a href="/terms-and-conditions.html">Правила и Условия (English)</a> | <a href="/privacy-policy.html">Политика конфиденциальности (English)</a><br /><br />TERA, 2019.</p>
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->

    <!-- Back to top -->
    <!-- <div id="back-to-top"></div> -->
    <!-- /Back to top -->

    <!-- Preloader -->
    <!--<div id="preloader">-->
        <!--<div class="preloader">-->
            <!--<span></span>-->
            <!--<span></span>-->
            <!--<span></span>-->
            <!--<span></span>-->
        <!--</div>-->
    <!--</div>-->
    <!-- /Preloader -->

    <!-- jQuery Plugins -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/main.min.js"></script>
    <script type="text/javascript" src="../js/cookies.js"></script>

    <div id="cookiesmessage" style="display: none;">
        Этот сайт использует Cookies. Ознакомьтесь с <a href="/privacy-policy.html" target="_blank">Политикой конфиденциальности</a> и нажмите "<a href="#" onclick="setCookie('teracookies','tera_agree', 1); document.getElementById('cookiesmessage').style.display = 'none';" id="i_agree"><strong>Я Согласен</strong></a>" для продолжения использования.
    </div>

</body>

</html>