                <ul class="main-nav nav navbar-nav navbar-right white_menu">
                    <li><a href="#about">О TERA</a></li>
                    <!--li><a href="/ru/changelog.html">CHANGELOG</a></li-->
                    <li><a href="/ru/tera-coin.html">МОНЕТА TERA</a></li>
                    <li><a href="/blog/" target="_blank">БЛОГ</a></li>
    

                    <li class="dropdown2 language-panel">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">BLOCKCHAIN<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/explorer.html">EXPLORER</a></li>
                            <li><a href="/web-wallet.html">КОШЕЛЁК</a></li>
                            <li><a href="/map.html">КАРТА СЕТИ</a></li> 
                        </ul>
                    </li>


                    <!-- Documentation -->
                    <li class="dropdown2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ДОКУМЕНТАЦИЯ<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                WHITE PAPER
                                <ul>
                                    <li><a href="/files/TERA_WP_EN.pdf" target="_blank">ENG</a></li>
                                    <li><a href="/files/TERA_WP_RU.pdf" target="_blank">RUS</a></li>
                                    <li><a href="/files/TERA_WP_DE.pdf" target="_blank">DE</a></li>
                                    <li><a href="/files/TERA_WP_CN.pdf" target="_blank">CN</a></li>
                                    <li><a href="https://sourceforge.net/p/tera/code/ci/master/tree/Doc/Chinese/WP_chinese.pdf?format=raw" target="_blank">CHINESE</a></li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                DAPP PAPER
                                <ul>
                                    <li><a href="https://docs.google.com/document/d/10yXAKxaU7YgrQnbdXu_L7WWovUoRtdJwo3tXXaGZGSQ/edit?usp=sharing" target="_blank">ENG</a></li>
                                    <li><a href="https://docs.google.com/document/d/1SkD4yc_POaGRMJRC6yGkDfdJUuKbcyq3JpG0cBXeYGM/edit?usp=sharing/" target="_blank">RUS</a></li>
                                    <li><a href="/files/TERA_DApps_CN.pdf" target="_blank">CN</a></li>
                                    <li><a href="https://docs.google.com/document/d/10yXAKxaU7YgrQnbdXu_L7WWovUoRtdJwo3tXXaGZGSQ/edit?usp=sharing/" target="_blank">FAQ</a></li>

                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                ДРУГОЕ
                                <ul>
                                    <li><a href="https://sourceforge.net/p/tera/code/ci/master/tree/Doc/Eng/API.md" target="_blank">API</a></li>
                                    <li><a href="https://docs.google.com/document/d/18DtASGhrbRwXCAkQR1hQG0lVdrStp4CgA-pd6hicwfo/edit?usp=sharing/" target="_blank">TERAHASH (mining algo)</a></li>
                                    <li><a href="/files/TERA_MINING_CN.pdf" target="_blank">TERAHASH (CN, mining algo)</a></li>
                                    <!--li><a href="changelog.html">Changelog</a></li-->
                                    <li><a href="/faq.html">FAQ</a></li>
                                    <!--li><a href="legal.html">Legal</a></li-->
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown2 language-panel">
                        <a href="/ru/" class="dropdown-toggle" data-toggle="dropdown"><img src="../PIC/rus.png" /><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/" style="color: #000;"><img src="../PIC/eng.png" border="0" /> English</a>
                            </li>
                            <li>
                                <a href="/de/" style="color: #000;"><img src="../PIC/de.png" border="0" /> Deutsch</a>
                            </li>
                            <li>
                                <a href="/cn/" style="color: #000;"><img src="../PIC/cn.png" border="0" /> 中文</a>
                            </li>
                        </ul>
                    </li>
                </ul>