<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta data-n-head="true" data-hid="description" name="description" content="TERA - Fast block generation, High transaction throughput, User-friendly">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>TERA Foundation: Самый быстрый Децентрализованный Блокчейн</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../CSS/bootstrap.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../CSS/style.min.css" />

    <style>
        @media all
        {
            .nav .open>a, .nav .open>a:focus, .nav .open>a:hover
            {
                background-color: rgba(250, 250, 250, .1);
                border-color: #337ab7;
            }

            /*.dropdown2 li*/
            /*{*/
                /*background-color: rgba(250, 250, 250, .01);*/
                /*opacity: 1;*/
            /*}*/
            /*.dropdown2 li a*/
            /*{*/
                /*background-color: rgba(250, 250, 250, .01);*/
                /*opacity: 1;*/
            /*}*/



            #nav.nav-transparent:not(.fixed-nav) .main-nav>li>a
            {
                color:white;
            }
        }

    </style>

    {{File=./SITE/metrika.html}}

</head>

<body>
    <!-- Header -->
    <header id="home">
        <!-- Background Image -->
        <div class="bg-img">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->


        <!-- Nav -->
        <nav id="nav" class="navbar nav-transparent">
            <div class="container">

                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="/ru/">
                            <img class="logo" src="../../PIC/Tera_Text_gray.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
                            <img class="logo-alt" src="../../PIC/Tera_Text.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                {{File=./SITE/ru/index_navigation.html}}
                <!-- /Main navigation -->

            </div>
        </nav>






        <!-- /Nav -->

        <!-- Social Header -->
        <div class="home-wrapper">
            <div class="container">

                <!-- Row -->
                <div class="row">
    
                    <div class="col-md-12">

                        <!-- Social follow -->
                        {{File=./SITE/footer-follow.html}}
                        <!-- /Social follow -->
    
                    </div>
    
                </div>
                <!-- /Row -->
    
            </div>
        </div>
        <!-- /About Tera -->

    </header>
    <!-- /Header -->

    <!-- About Tera -->
    <div id="about" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- About Tera content -->
                <div class="col-md-12 about-panel">
                    <div class="section-header text-center">
                        <h1>О TERA</h1>
                    </div>
                    <p class="tera-logo-panel">
                        <img src="../../PIC/TERA_logo-03.png" width="240" />
                    </p>
                    <p>
                        Рады предложить вам присоединиться к проекту TERA. Блокчейн TERA предлагает решения самых популярных проблем в области криптовалют: централизация, пропусканая способность, скорость осуществления транзакций, время подтверждения, комиссия  за транзакции и общее удобство использования функционала рынка.
                    </p>
                    <p>
                        Блокчейну для доставки данных от 1-й ноды до последней требуется не более 3 секунд. Для достижения этого ноды соединяются между собой в специальные связи, основанные на подобии адресов нод между собой. Адреса нод являются случайными величинами (32 байта) и не меняются в процессе работы ноды. Число связей с другими нодами имеет логарифмическую зависимость от количества нод в сети, благодаря этому достигается константное время доставки транзакций. Так если в сети будет 1 млрд нод, а время доставки между нодами будет составлять не более 100 мс, то максимальное время составит 30*100 мс = 3 сек. Время задержки доставки транзакций между нодами в 100 мс является верхней величиной, на практике оно меньше так как ноды с меньшей взаимной задержкой имеют приоритет соединения.
                    </p>
                    <p>
                        В традиционных блокчейнах не применяется упорядочивание нод с друг другом. Такая случайная организация связей не гарантирует быструю доставку блоков между всеми нодами. В Тере ноды самоорганизуются в упорядоченные соединения.

                    </p>
                    <p style="text-align: center; font-size: 15px;">                <!-- Key Feature -->
                        <div class="col-md-6">
                             <div class="about bg-grey scheme-panel">
                                <h4>Traditional Blockchain</h4>
                                <h4><img src="../../PIC/traditional_blockchain.png" title="Traditional Blockchain" class="img img--100"/></h4>
                            </div>
                        </div>
                        <!-- /Key Feature -->

                        <!-- Key Feature -->
                        <div class="col-md-6">
                             <div class="about bg-grey scheme-panel">
                                <h4>TERA Blockchain</h>
                                <p><img src="../../PIC/tera_blockchain.png" title="TERA Blockchain" class="img img--100"/></p>
                            </div>
                        </div>
                        <!-- /Key Feature -->
                    </p>
                </div>
                <!-- /About Tera content -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->

    </div>
    <!-- /About Tera -->

    <!-- Key Features -->
    <div id="features" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title md-down-left">ПРЕИМУЩЕСТВА</h2>
                </div>
                <!-- /Section header -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey f-panel">
                        <i class="fab fa-hubspot"></i>
                        <h4>Быстрая генерация Блоков</h4>
                        <p>TERA самый быстрый децентрализованный Блокчейн (POS и др. не децентрализованы). Генерация блока занимает 1 секунду, 8 секунд займёт подтверждение. Данные показатели приближают транзакцию к мгновенной.</p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey f-panel">
                        <i class="fas fa-boxes"></i>
                        <h4>Высока пропускная способность Транзакций</h4>
                        <p>Блокчейн TERA способен пропускать до 1000 транзакций в секунду, сохраняя все функции блокчейна и предоставляя огромные возможности для дальнейшего развития и беспрепятственной интеграции с существующей инфраструктурой, а также с новыми технологиями.
                        </p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey f-panel">
                        <i class="fas fa-university"></i>
                        <h4>Удобство</h4>
                        <p>Монеты хранятся на счетах по аналогии с банковскими счетами. Система обеспечивает безопасное и простое управление вашими финансовыми активами.</p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey f-panel">
                        <i class="fas fa-hand-holding-usd"></i>
                        <h4>Защита от двойных затрат</h4>
                        <p>TERA использует блокчейн с консенсусом pow. Это позволяет организовать все транзакции последовательно одну за другой. Транзакции также выполняются последовательно. При снятии со счета необходимые суммы проверяются. Во время списания счетчик «OperationID» увеличивается. Каждая последующая платежная транзакция должна иметь следующий номер «OperationID», чтобы одна и та же транзакция не применялась несколько раз.</p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey f-panel">
                        <i class="fas fa-shield-alt"></i>
                        <h4>Защита от DDoS-атак</h4>
                        <p>Профессионализм разработчиков команды позволил создать уникальный алгоритм защиты системы от DDOS-атак и различных видов вторжений. Все данные и средства надежно защищены.
                        </p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey f-panel">
                        <i class="fas fa-code"></i>
                        <h4>Постоянное развитие</h4>
                        <p>Каждый день TERA развивается, стараясь идти в ногу со временем. Специалисты постоянно совершенствуют и улучшают проект.</p>
                    </div>
                </div>
                <!-- /Key Feature -->
            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Key Features -->


    <!-- Specification -->
    <div id="technology" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title md-down-left">Технология</h2>
                </div>
                <!-- /Section header -->

                <dl class="spec-list">
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Максимальное наличие</dt>
                        <dd class="spec-list__value">1,000,000,000</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Дата выпуска</dt>
                        <dd class="spec-list__value">07.01.2018</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Консенсусный протокол</dt>
                        <dd class="spec-list__value">POW</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Криптография</dt>
                        <dd class="spec-list__value">sha3, secp256k1</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Язык смарт-контракта</dt>
                        <dd class="spec-list__value">JavaScript</dd>
                    </div>


                    <div class="spec-list__item">
                        <dt class="spec-list__title">Размер блока</dt>
                        <dd class="spec-list__value">130 KB</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Pre-mine</dt>
                        <dd class="spec-list__value">5%</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Исходный код</dt>
                        <dd class="spec-list__value">
                            <a href="https://sourceforge.net/p/tera/code/ci/master/tree/" target="_blank">sourceforge.net</a>,
                            <a href="https://gitlab.com/terafoundation/tera" target="_blank">gitlab.com</a>
                        </dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Обозреватель</dt>
                        <dd class="spec-list__value">
                            <a href="https://terafoundation.org/explorer.html" target="_blank">terafoundation.org</a>
                        </dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Платформа</dt>
                        <dd class="spec-list__value">NodeJS</dd>
                    </div>
                </dl>
            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Specification -->

    <!-- Team -->
    <div id="team" class="section md-padding" >
        <h2 class="section-header text-center">
            Команда проекта TERA
        </h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/vtools.jpg" alt="Yuriy Ivanov photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/vtools/?locale=en_US" target="_blank">
                            <h4 class="person-card__title">Yuriy Ivanov <span>| Vtools</span></h4>
                        </a>
                        <p class="person-card__position"><!-- Head of Architect Department  --></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Yuriy Ivanov</h4>
                            <em>Vtools</em>
                            <p class="add-info__position"><!-- Head of Architect Department  --></p>
                            <p class="add-info__desc">
                                <!-- Moscow State University of Instrument Engineering and Computer Science, department of Computer Science and computer facilities. -->
                            </p>

                            <a href="https://www.linkedin.com/in/vtools/?locale=en_US" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/Gennady.jpg" alt="Gennady Ivanov photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/gennady-ivanov-195a8590/" target="_blank">
                            <h4 class="person-card__title">Gennady Ivanov <span>| Gennady</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Gennady Ivanov</h4>
                            <em>Gennady</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/gennady-ivanov-195a8590/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/PsyArcus.jpg" alt="Evgeny Ustinovich photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/ustinovichevgeny/?locale=en_US" target="_blank">
                            <h4 class="person-card__title">Evgeny Ustinovich <span>| PsyArcus</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Evgeny Ustinovich</h4>
                            <em>PsyArcus</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/ustinovichevgeny/?locale=en_US" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/corey.jpg" alt="Yuan Chen photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/yuan-chen-331bbb145/" target="_blank">
                            <h4 class="person-card__title">Yuan Chen <span>| corey</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Yuan Chen</h4>
                            <em>corey</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/yuan-chen-331bbb145/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/Ryuu.jpg" alt="Long Vu Hoang photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/long-vu-hoang-2a480a89/" target="_blank">
                            <h4 class="person-card__title">Long Vu Hoang <span>| Ryuu</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Long Vu Hoang</h4>
                            <em>Ryuu</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/long-vu-hoang-2a480a89/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/mindsignals.jpg" alt="Ross Goldberg photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/ross-goldberg-5979bb/" target="_blank">
                            <h4 class="person-card__title">Ross Goldberg <span>| mindsignals</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Ross Goldberg</h4>
                            <em>mindsignals</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/ross-goldberg-5979bb/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/itutu.jpg" alt="Wei Li photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/wei-li-5b8800182/" target="_blank">
                            <h4 class="person-card__title">Wei Li <span>| itutu</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Wei Li</h4>
                            <em>itutu</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/wei-li-5b8800182/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/weiwutera.jpg" alt="Hongsang U photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/hongsang-u-18348616b/" target="_blank">
                            <h4 class="person-card__title">Hongsang U <span>| weiwutera</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Hongsang U</h4>
                            <em>weiwutera</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/hongsang-u-18348616b/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/groboro.jpg" alt="Timo Stutz photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/timo-stutz/" target="_blank">
                            <h4 class="person-card__title">Timo Stutz <span>| groboro</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Timo Stutz</h4>
                            <em>groboro</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/timo-stutz/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/Ken.jpg" alt="Ken Chan photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/ken-chan-170399183/" target="_blank">
                            <h4 class="person-card__title">Ken Chan <span>| Ken</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Ken Chan</h4>
                            <em>Ken</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/ken-chan-170399183/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/tina629.jpg" alt="Ken Chan photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/xiu-zhao/" target="_blank">
                            <h4 class="person-card__title">Xiu Zhao <span>| tina629</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Xiu Zhao</h4>
                            <em>tina629</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/xiu-zhao/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-lg-3 person-card person-card--empty">
                    <div class="person-card__wrapper">
                        <div class="line-v"></div>
                        <div class="square-dot"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Team -->
    
    <!-- Updates -->
    <div id="updates" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Обновления</h2>
                </div>
                <!-- /Section header -->
                <div class="no-more-tables">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td valign="top">v. 0.897</td>
                                <td><a href="https://gitlab.com/terafoundation/tera/blob/master/Doc/Eng/API2.md" target="_blank">API-2</a> предназначен для облегчения написания сторонних приложений. Криптография на стороне сервера и операции POW выполняются. Поэтому он не рекомендуется для публичного доступа, поскольку он не защищен от DDOS-атак. Используйте его, если такие приложения, как сервер обмена, находятся в одной частной сети.</td>
                            </tr>
                            <tr>
                                <td valign="top" width="100">v. 0.884</td>
                                <td><ul>                                        <li>Будет улучшено поведение констант COREY_WATCH_DOG. Если у вас будет число 2: «COREY_WATCH_DOG»: 2, вместо перегрузки будет просто обрезать блоки на 5000, это сэкономит время на заполнение хэшей памяти. И. е. майнинг практически будет идти без перерыва.</li></ul></td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.880</td>
                                <td>
                                    <ul>
                                        <li>Улучшения протокола API для DApp.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.877</td>
                                <td>
                                    <ul>
                                        <li>Улучшение работы DApp.</li>
                                        <li>Обновление не является обязательным - вы можете пропустить его.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.867</td>
                                <td>
                                    <ul>
                                        <li>Сделан протокол поддержки лайт-кошелька, исправлена ошибка проверки цепочек загрузки.</li>
                                        <li>Обновление не является обязательным - вы можете пропустить его.</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p><a href="./changelog.html">Полный список обновлений</a></p>
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Updates -->

    <!-- Roadmap -->
    <div id="roadmap" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Roadmap</h2>
                </div>
                <!-- /Section header -->
                <div class="row flex wrap">
                    <!-- Roadmap Item -->
                    <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line done">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    Октябрь 2018
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            Смарт-Контракты
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->

                    <!-- Roadmap Item -->
                    <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line done">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    Ноябрь 2018
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            Децентрализованный форум
                                        </li>
                                        <li>
                                            Децентрализованная биржа
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->

                     <!-- Roadmap Item -->
                     <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line done">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    Декабрь 2018
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            Кошелёк
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->

                     <!-- Roadmap Item -->
                     <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line processing">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    1-й квартал 2019
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            Android/iOS кошельки
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Roadmap -->
    <!-- LINKS -->
    <div id="links" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <!-- About Tera content -->
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2 class="title">ССЫЛКИ НА TERA</h2>
                    </div>
                 <div class="col-md-4">
                    <div class="about bg-grey bl-panel">

                        <h3><i class="fas fa-code linksico"></i> РАЗРАБОТЧИКАМ</h3>

                        1. <a href="https://sourceforge.net/p/tera/code/ci/master/tree/" target="_blank">Исходный код TERA</a>.<br />
                        2. <a href="https://docs.google.com/document/d/1PXVBbMKdpsAKPkO9UNB5B-LMwIDjylWoHvAAzzrXjvU/edit?usp=sharing/" target="_blank">TERA DApp PAPER (ENG)</a>.<br />
                        3. <a href="https://docs.google.com/document/d/1SkD4yc_POaGRMJRC6yGkDfdJUuKbcyq3JpG0cBXeYGM/edit?usp=sharing/" target="_blank">TERA DApp PAPER (RUS)</a>.<br />
                        4. <a href="https://docs.google.com/document/d/10yXAKxaU7YgrQnbdXu_L7WWovUoRtdJwo3tXXaGZGSQ/edit?usp=sharing/" target="_blank">TERA DApp FAQ</a>.<br />
                        5. <a href="https://sourceforge.net/p/tera/code/ci/master/tree/Doc/Eng/API.md" target="_blank">TERA API</a>.<br />
                        е. <a href="https://gitlab.com/terafoundation/tera/blob/master/Doc/Eng/API2.md" target="_blank">TERA API-2 (для бирж)</a>.<br />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey bl-panel">

                        <h3><i class="fas fa-dollar-sign linksico"></i> ИНВЕСТОРАМ</h3>

                        1. <a href="https://www.qbtc.ink/trade?symbol=TERA_BTC" target="_blank">TERA на QBTC Exchange</a>.<br />
                        2. <a href="https://www.bitalong.com/trade/index/market/tera_usdt/" target="_blank">TERA на Bitalong Exchange</a>.<br />
                        3. <a href="https://bitmesh.com/exchange?market=btc_tera#/" target="_blank">TERA на Bitmesh Exchange</a>.<br />
                        4. <a href="https://chaoex-en-us.udesk.cn/hc/articles/83487" target="_blank">TERA на CHAOEX Exchange</a>.<br />
                        5. <a href="https://www.citex.co.kr/#/trade/2/37" target="_blank">TERA на CITEX Exchange</a>.<br />
                        6. <a href="/#roadmap" target="_blank">TERA Roadmap</a>.
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey bl-panel">

                        <h3><i class="fas fa-server linksico"></i> МАЙНЕРАМ</h3>

                        1. <a href="https://sourceforge.net/p/tera/code/ci/master/tree/README.md" target="_blank">Документация по майнингу</a>.<br />
                        2. <a href="https://docs.google.com/document/d/18DtASGhrbRwXCAkQR1hQG0lVdrStp4CgA-pd6hicwfo/edit?usp=sharing/" target="_blank">TERA HAASH</a>.
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey bl-panel">

                        <h3><i class="fas fa-info-circle linksico"></i> ВНУТРЕННИЕ РЕСУРСЫ</h3>

                        1. <a href="https://terafoundation.org/" target="_blank">Веб-сайт TERA</a>.<br />
                        2. <a href="https://terafoundation.org/explorer.html" target="_blank">TERA EXPLORER</a>.<br />
                        3. <a href="https://terafoundation.org/web-wallet.html" target="_blank">Кошелёк TERA</a>.<br />
                        4. <a href="https://terafoundation.org/map.html" target="_blank">TERA NETWORK MAP</a>.<br />
                        5. <a href="https://terafoundation.org/files/TERA_WP_EN.pdf" target="_blank">TERA WHITE PAPER (EN)</a>.<br />
                        6. <a href="https://terafoundation.org/files/TERA_WP_RU.pdf" target="_blank">TERA WHITE PAPER (RU)</a>.<br />
                        7. <a href="https://terafoundation.org/files/TERA_WP_DE.pdf" target="_blank">TERA WHITE PAPER (DE)</a>.<br />
                        8. <a href="https://sourceforge.net/p/tera/code/ci/master/tree/Doc/Chinese/WP_chinese.pdf?format=raw" target="_blank">TERA WHITE PAPER (CN)</a>.<br />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey bl-panel">

                        <h3><i class="fas fa-globe linksico"></i> СООБЩЕСТВО TERA</h3>

                        1. <a href="https://bitcointalk.org/index.php?to../PIC=4573801.0" target="_blank">TERA на BitcoinTalk</a>.<br />
                        2. <a href="https://twitter.com/terafoundation" target="_blank">TERA в Twitter</a>.<br />
                        3. <a href="https://www.reddit.com/user/Terafoundation" target="_blank">TERA в Reddit</a>.<br />
                        4. <a href="https://discord.gg/CvwrbeG" target="_blank">TERA в Discord</a>.<br />
                        5. <a href="https://web.telegram.org/#/im?p=@terafoundation" target="_blank">TERA Telegram-канал</a>.<br />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey bl-panel">

                        <h3><i class="fas fa-handshake"></i> ДРУГОЕ</h3>

                        1. <a href="http://freetimes.cc/fmessenger/" target="_blank">FMessenger</a>.
                    </div>
                </div>
                <!-- /About Tera content -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->

    </div></div> 

    <!-- Footer -->

{{File=./SITE/ru/footer.html}}