<!DOCTYPE html>
<html lang="en">

<head>
    <title>TERA Foundation: COIN</title>
    <meta data-n-head="true" data-hid="description" name="description" content="Tera - Fast block generation, High transaction throughput, User-friendly">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../CSS/bootstrap.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../CSS/style.min.css" />


    {{File=./SITE/metrika.html}}

</head>

<body>
    <!-- Header -->
    <header id="home" class="pages-head-home">

        <!-- Nav -->
        <nav id="nav" class="navbar nav-transparent">
            <div class="container">

                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="/ru/">
                            <img class="logo" src="../PIC/Tera_Text_gray.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
                            <img class="logo-alt" src="../PIC/Tera_Text.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                {{File=./SITE/ru/index_navigation.html}}
                <!-- /Main navigation -->

            </div>
        </nav>






        <!-- /Nav -->

        <!-- Social Header -->
        <div class="home-wrapper">
            <div class="container">

                <!-- Row -->
                <div class="row">
    
    
                </div>
                <!-- /Row -->
    
            </div>
        </div>
        <!-- /About Tera -->

    </header>
    <!-- /Header -->

    <!-- About Tera -->
    <div id="about" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <!-- About Tera content -->
                <div class="col-md-12 about-panel">
                    <div class="section-header text-center">
                        <h1>ТОКЕН TERA</h1>
					</div>
                    <p>
Проект TERA нацелен в первую очередь на развитие технологий с целью помочь миру развиваться и идти только вперёд. Но факт остаётся фактом: на сегодняшний день деньги являются мощной движущей силой нашей планеты. Токен TERA является решением насущных проблем в мире криптовалют. Наш проект постоянно стремится к развитию с целью улучшения показателей пропускной способности, скорости, и стоимости транзакции.  <br /> <br />
TERA представляет собой чистый оригинальный код, разработанный на ядре Vtools. В основе разработки TERA лежит язык программирования Node.js, являющийся одним из наиболее широко используемых языков программирования. 
                    </p>

				</div>
				<!-- /About Tera content -->
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->

	</div>
	<!-- /About Tera -->


    <div id="features" class="section md-padding exchanges">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Биржи и Партнёры</h2>
                </div>
                <!-- /Section header -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>QBTC</h3>
                        <p><a href="https://www.qbtc.ink/trade?symbol=TERA_BTC" target="_blank"><img src="../PIC/qbtc.png" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>Bitalong</h3>
                        <p><a href="https://www.bitalong.com/trade/index/market/tera_usdt/" target="_blank"><img src="../PIC/bitalong.png" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>Bitmesh</h4>
                        <p><a href="https://bitmesh.com/exchange?market=btc_tera#/" target="_blank"><img src="../PIC/bitmesh.png" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>CHAOEX</h4>
                        <p><a href="https://chaoex-en-us.udesk.cn/hc/articles/83487" target="_blank"><img src="../PIC/chaoex.png" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>CITEX</h4>
                        <p><a href="https://www.citex.co.kr/#/trade/2/37" target="_blank"><img src="../PIC/citex.png" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->
                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>FMessenger</h4>
                        <p><a href="http://freetimes.cc/fmessenger/" target="_blank"><img src="../PIC/fm.png" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->
            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <div id="about" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <!-- About Tera content -->
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2 class="title">МАЙНИНГ TERA</h2>
                    </div>
                    <p align="center">
<a href="https://sourceforge.net/p/tera/code/ci/master/tree/README.md" target="_blank">Документация по работе с TERA</a> поможет начать майнинг уже сегодня.
                    </p>

                </div>
                <!-- /About Tera content -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->

    </div>
	<!-- Footer -->
    <!-- Footer -->
{{File=./SITE/ru/footer.html}}