﻿/*STYLE STYLE STYLE*/
/*STYLE STYLE STYLE*/
/*STYLE STYLE STYLE*/
/*STYLE STYLE STYLE*/


root
{
    --colorText:#000;
}


body
{

    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
}

body.styleBrown
{
    --color0:#503F13;
    --color1:#86754A;
    --color2:#F5E5BB;
    --color3:#F5F0E3;
}


body.styleGreen
{
    --color0:#204410;
    --color1:#4F7340;
    --color2:#CBF4BA;
    --color3:#E7F4E1;
}

body.styleBlue
{
    --color0:#0D1B35;
    --color1:#354259;
    --color2:#BED0F2;
    --color3:#E1E7F2;
}

body.styleGray
{
    --color0:#424a5D;
    --color1:#5b6775;
    --color2:#FFFFFF;
    --color3:#f3f3f4;
}

body.styleContrast1
{
    --color0:#101010;
    --color1:#303030;
    --color2: #b3cee8;
    --color3:#FFFFFF;
}

body.styleContrast2
{
    --color0:#101010;
    --color1:#303030;
    --color2: #cee8df;
    --color3:#FFFFFF;
}

body.styleContrast3
{
    --color0:#101010;
    --color1:#303030;
    --color2: #e8e0d4;
    --color3:#FFFFFF;
}


body.univers .bt
{
    background: var(--color1);
    color: var(--color2);
}
body.univers
{
    background: var(--color2);
}

body.univers table.grid
{
    background:var(--color3);
}

body.univers .bttab
{
    background: var(--color1);
    color:white;
}

body.univers .current
{
    background: var(--color0);
    color:white;
}

body.univers input,textarea,select
{
    background:white;
    color: black;
}




/*dark*/
body.styleDark
{
    background: #282828;
    --colorText:white;
    color: white;
}

body.styleDark .bt
{
    background: #4c4c4c;
    color: white;
    border: 1px solid #5a5a5a;
}

body.styleDark .header_tr
{
    color:white;
}


body.styleDark table.grid
{
    background: #565656;
}

body.styleDark .bttab
{
    background: #202225;
    color:white;
}

body.styleDark .current
{
    background: #565b61;
    color:white;
}

body.styleDark input,textarea,select
{
    background:white;
    color: black;
}

/*bt*/
body.styleDark button
{
    background: #939393;
    border: 1px solid #282828;
    color: white;
}

body.styleDark .bold
{
    font-weight: 300;
}

body.styleDark #idStatus
{
    color: #fffabd;
}

body.styleDark #idOpenWallet
{
    border: 1px solid darkgrey;
}
