<!DOCTYPE html>
<html lang="en">

<head> 
    <title>TERA Foundation: Changelog</title>
    <meta data-n-head="true" data-hid="description" name="description" content="Tera - Fast block generation, High transaction throughput, User-friendly">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="CSS/bootstrap.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="CSS/style.min.css" />


    {{File=./SITE/metrika.html}}

</head>

<body>
	<!-- Header -->
	<header id="home" class="pages-head-home">

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
                            <img class="logo" src="PIC/Tera_Text_gray.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
                            <img class="logo-alt" src="PIC/Tera_Text.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
                {{File=./SITE/page_navigation.html}}
				<!-- /Main navigation -->

			</div>
		</nav>






		<!-- /Nav -->

		<!-- Social Header -->
		<div class="home-wrapper">
			<div class="container">

                <!-- Row -->
                <div class="row">
    
    
                </div>
                <!-- /Row -->
    
            </div>
		</div>
		<!-- /About Tera -->

	</header>
    <!-- /Header -->

	<!-- About Tera -->
	<div id="about" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">
				<!-- About Tera content -->
				<div class="col-md-12">
					<div class="section-header text-center about-panel">
						{{Edit=./SITE/CONTENT/en-changelog-title.md}}
					</div>
                  <div class="no-more-tables">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td valign="top">v. 0.897</td>
                                <td>The <a href="https://gitlab.com/terafoundation/tera/blob/master/Doc/Eng/API2.md" target="_blank">API-2</a> is designed to make it easier to write third-party applications. Server-side cryptography and POW operations are performed. Therefore, it is not recommended for public access, because it is not protected from DDOS attacks. Use it if applications such as the exchange server are on the same private network.</td>
                            </tr>
                            <tr>
                                <td valign="top" width="100">v. 0.884</td>
                                <td><ul>                                        <li>Will be enhanced the behavior of the constants COREY_WATCH_DOG. If you will be the number 2:
"COREY_WATCH_DOG": 2, instead of an overload will just trim the blocks on the 5000, it will save time filling out the memory hashes. I. e. mining will practically go without interruption</li></ul></td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.880</td>
                                <td>
                                    <ul>
                                        <li>It contains API Protocol improvements for DApp.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.867</td>
                                <td>
                                    <ul>
                                        <li>Made Protocol support light-wallet, fixed a bug in validate download chains.</li>
                                        <li>The update is optional and can be skipped.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.811</td>
                                <td>
                                    <ul>
                                        <li>If you set a constant:<br /><br />
"WATCHDOG_BADACCOUNT": 1<br /><br />

then "BAD ACCOUNT Has"error checking will be enabled. When accumulating them in the amount of 60, automatic cutting of the blockchain into 5000 blocks will be launched, which in theory leads to the removal of this error. But this is not accurate.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.783</td>
                                <td>
                                    <ul>
                                        <li>Fix history and dapp event bugs.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.753</td>
                                <td>
                                    <ul>
                                        <li>The update is partially completed:<br />
1. Half of the nodes have completed the update<br />
2. The second half performs the transaction overwrite procedure (it will take a long time). To speed up, you can download the DB folder from the torrent.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.727</td>
                                <td>
                                    <ul>
                                        <li>Fix minor bugs.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.719</td>
                                <td>
                                    <ul>
                                        <li>The update is desirable for the stability of the network, which consists of nodes from different regions of the world. The algorithm of correction of the current number of the current block-robust with respect to the time deviation.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.718</td>
                                <td>
                                    <ul>
                                        <li>The consensus algorithm was returned to its original level (0.703). The experiments of the new consensus failed. I'll think.<br />
Thanks for your patience</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.703</td>
                                <td>
                                    <ul>
                                        <li>Fix visual part of DApp. <br />
Made less memory usage when you turn off the logging of statistics.<br />

The update does not contain any changes in the blockchain communication Protocol and can be omitted.<br /></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.685</td>
                                <td>
                                    <ul>
                                        <li>Update 685 contains two mining constants (on the CONFIG tab, the CONSTANTS button):<br /><br />
  "COUNT_MINING_CPU": 0,<br />
  "SIZE_MINING_MEMORY": 0,<br /><br />

If set to COUNT_MINING_CPU that starts the specified number of processes of mining, you can set more or fewer than there are physical cores.<br /><br />

If the value SIZE_MINING_MEMORY is set, this value is distributed to all processes (the specified number is divided by the number of processes).</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.672</td>
                                <td>
                                    <ul>
                                        <li>Fixed a hash table calculation bug (OUR ACCOUNT).</li>
                                        <li>From the number 10195000 the calculation of the block hash changes.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.671</td>
                                <td>
                                    <ul>
                                        <li>The current update 0.671 contains an improved miner. The exchange Protocol has not changed. It is recommended only if you want to improve mining.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.666</td>
                                <td>
                                    <ul>
                                        <li>Button added Auto-update to wallet (near button mining). If the update mode is turned off, but a new version is uploaded to the network, the button becomes orange and it is written in the title bar of the window via slash (Example: 0.661/663).</li>
                                        <li>Added the ability to send money to any public address. In this case, a new account is created upon receipt. The first line of the payment purpose is used as the name. For the creation of the account will be charged a fee.</li>
                                        <li>Added the possibility of unlimited creation of new accounts, but with a fee. Now the fee  is 10 Tera, but as the rate of the Tera increases, it will decrease. The fee is paid to account 0. To do this, when creating a new account, use the "Add to Pay list"button. Clicking on it on the Send tab creates a payment transaction for 10 Tera with the order to create an account. It must be sent manually-by pressing the Send button.</li>
                                        <li>Added smart contracts. More detail will be description will be here soon.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.555</td>
                                <td>
                                    <ul>
                                        <li>Fix problem with pow process.<br />
More hashrate.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.553</td>
                                <td>
                                    <ul>
                                        <li> Fixed small bug with update version installation (previously installed always, even if auto-update is disabled).</li>
                                    
                                        <li>With block number 7000000 introduced protection against DDOS attacks when creating new accounts. New accounts will be allowed to be created only in limited quantities. For an unlimited number in the future will be expanded standard transaction transfer of funds. We plan to add support for transferring money to the wallet address (public key) without specifying an account. In this case, a new account will be created automatically and a small fee will be charged for its creation (for DDOS protection). Ordinary transaction of transfer of funds stating the account will not require a fee.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.545</td>
                                <td>
                                    <ul>
                                        <li>Full utilization of memory and CPU.<br />
More hashrate.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.542</td>
                                <td>
                                    <ul>
                                        <li>More memory optimization. More hashrate.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.501</td>
                                <td>
                                    <ul>
                                        <li>Small bugs fix.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.517</td>
                                <td>
                                    <ul>
                                        <li>A small change in security. For limited web access to the wallet, you can set the external ip address of the computer from which access is allowed in the constant "HTTP_IP_CONNECT". <br />
Example:<br />
"HTTP_IP_CONNECT": "111.222.220.230",<br />
Note:<br />
Access to the wallet via the local address 127.0.0.1 is always allowed.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.501</td>
                                <td>
                                    <ul>
                                        <li>Small bugs fix.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.452</td>
                                <td>
                                    <ul>
                                        <li>The power of the network is growing. Now its value 2^27.6 = 200Mh/s.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.450</td>
                                <td>
                                    <ul>
                                        <li>Reduce traffic pushed.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.418</td>
                                <td>
                                    <ul>
                                        <li>Candidate stable 2 pushed.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.366</td>
                                <td>
                                    <ul>
                                        <li>Minor changes to the interface part update 366:
<br /><br />
The utility section now has the following buttons:<br />
1. Rewrite transactions<br />
2. Truncate chain<br />
3. Clear DataBase<br />
<br />
The first two items require you to enter a parameter - the depth of the chain for processing in blocks starting from the current one. The last point - clears completely the database, without affecting the parameters of the wallet  and server constants. Works the same as deleting the DATA / DB folder.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.214</td>
                                <td>
                                    <ul>
                                        <li>For the network, it is very important that the time on all nodes is the same. Otherwise, the exchange of packets becomes impossible.
With the help of special algorithms, it is synchronized automatically and the general direction is such that it is equal to the UTC time. If you are sure that your server has exact time synchronization, then you can disable automatic synchronization (but under your responsibility).
This is done in constants, set the value: "AUTO_COORECT_TIME": 0</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.171</td>
                                <td>
                                    <ul>
                                        <li>The second version with spam protection is released. Available in auto-update mode.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.169</td>
                                <td>
                                    <ul>
                                        <li>Ban list enable.</li>
                                    </ul>
                                </td>
                            </tr> 
                            <tr>
                                <td valign="top">v. 0.169</td>
                                <td>
                                    <ul>
                                        <li>Ban list enable.</li>
                                    </ul>
                                </td>
                            </tr> 
                            <tr>
                                <td valign="top">v. 0.162</td>
                                <td>
                                    <ul>
                                        <li>If you do not specify a password for the http remote access port, access is allowed only from the local address 127.0.0.1.</li>
                                    </ul>
                                </td>
                            </tr> 
                            <tr>
                                <td valign="top">v. 0.156</td>
                                <td>
                                    <ul>
                                        <li>Added automatic tracking of the processes involved in mining. If processes lose connection with the main process, they are destroyed.</li>
                                    </ul>
                                </td>
                            </tr>  
                            <tr>
                                <td valign="top">v. 0.155</td>
                                <td>
                                    <ul>
                                        <li>You can set http password during the program installation from command line, example:
node set httpport:8080 password:123.</li>
                                    </ul>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
				</div>
				<!-- /About Tera content -->
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->

	</div>
	<!-- /About Tera -->



	<!-- Footer -->
{{File=./SITE/footer_index.html}}