<!DOCTYPE html>
<html lang="en">

<head>
    <title>TERA Foundation: FAQ</title>
    <meta data-n-head="true" data-hid="description" name="description" content="Tera - Fast block generation, High transaction throughput, User-friendly">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="CSS/bootstrap.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="CSS/style.min.css" />


    {{File=./SITE/metrika.html}}

</head>

<body>
	<!-- Header -->
	<header id="home" class="pages-head-home">

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
                            <img class="logo" src="PIC/Tera_Text_gray.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
                            <img class="logo-alt" src="PIC/Tera_Text.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
                {{File=./SITE/page_navigation.html}}
				<!-- /Main navigation -->

			</div>
		</nav>






		<!-- /Nav -->

		<!-- Social Header -->
		<div class="home-wrapper">
			<div class="container">

                <!-- Row -->
                <div class="row">
    
    
                </div>
                <!-- /Row -->
    
            </div>
		</div>
		<!-- /About Tera -->

	</header>
    <!-- /Header -->

	<!-- About Tera -->
	<div id="about" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">
				<!-- About Tera content -->
				<div class="col-md-12 about-panel">
					<div class="section-header text-center">
						<h1>TERA FAQ</h2>
					</div>
                    <p>
                        <strong><span class="faqa">TERA achieves one block per second, high tps, but at the same time this high speed may come at the expense of security, so far people have not seen Tera demonstrate its security, can TERA resist hacker attack?</span></strong>

                        <p>To protect the network, each node is verified with each other, the reputation mechanism is used - accounting for the reputation points of the node, which are added when the exchange is successful, and we use the Protocol of limited messages.<br /><br />

                        - Verification of the node is carried out by the algorithm of electronic signature, the node address is used as a public key. The node address is a 32-byte number generated from the private key of the node, which in turn is randomly generated once when the node is created. When the node list is distributed over the network, the 32-byte node address, ip, and port are transmitted.
                        - Reputation points are needed to prioritize the choice of nodes in the exchange with each other, it is necessary for the stability of the created links between nodes. As is known from <a href="/files/TERA_WP_EN.pdf" target="_blank">WP</a>, the network forms a special regular multidimensional topological lattice with reserves of connections. The links themselves are initially formed randomly-at the beginning of the node network, and in the future dynamically maintained regularity of the grid links.<br />
                        - The limited message Protocol is used to limit the number of messages between nodes, in order to avoid DDOS attacks against each other (including due to failure). If the number of messages exceeds the specified limit per second, the reputation points are reduced, and then the node gets into the ban list.<br /><br />

                        But we will constantly audit the code and come up with new protections in case of threats. In addition, we plan to hold competitions and cooperation with white hackers on bounty programs.
                        </p>
                    </p>
                    <hr />
                    <p>
                        <strong><span class="faqa">TERA has one block per second, will this fast block lead to an explosion in data on the blockchain? If yes, how does TERA address it?</span></strong>

                        <p>Yes, if 1000 transactions are in trouble per second, then the blockchain will grow at a speed of 10Gb d day. To solve this problem, a mechanism for loading the blockchain from the end will be implemented. It is given in <a href="/files/TERA_WP_EN.pdf" target="_blank">WP</a> under "the Dependence of the Size of the Blockchain Database From User Settings”. This will solve the large size problem, but will not remove the large size. The large size of the blockchain will remain, but will be loaded optionally.
                        </p>
                    </p>
                    <hr />
                    <p>
                        <strong><span class="faqa">What is 8 second confirmation, any theoretical or practical foundation on which it is built? Can all nodes be forked? After 1 second proof of work and 4 seconds maximum work load search, can all nodes be synchronized in 4 second?</span></strong>

                        <p>8 seconds is the time when the 1st confirmation of the sent transaction comes, it consists of the time: 1 second - waiting for the start, 3 seconds - spreading the transaction over the network, 1 second - creating a POW block, 3-spreading the POW over the network.
                        <br />
                        This is the maximum technical time required to deliver a transaction to the blockchain of each node - building blocks in a chain one after another. But to make a decision about the success of transactions you need to wait for more time. For example, bitcoin is expected to 10-60 minutes. Everyone has to decide for himself what time to expect. It should depend on the amount of the transaction. For example, if 1 dollar is enough for a few seconds.
                        
                        </p>
                    </p>
                    <hr />
                    <p>
                        <strong><span class="faqa">TERA does not charge transaction fee, will this lead to large quantity of void transaction on DDOS net, resulting in transactions unable to be confirmed?</span></strong>

                        <p>Transactions without fee is our dream, it will develop the direction of DApps and use them widely in real life. The basic idea of protection is to process transactions quickly. I have some thoughts on this in <a href="/files/TERA_WP_EN.pdf" target="_blank">WP</a> in the Chapter “Protection from DDOS Attacks”. 
                        <br /><br />
                        But there is plan B:
                        If this does not work, we will introduce a fee - more precisely, we will enter the priority of transactions in the block according to the fee paid for the data byte.

                        
                        </p>
                    </p>
                    <hr />
                    <p>
                        <strong><span class="faqa">What is the mechanism with which blocks is being generated in TERA?</span></strong>

                        <p>As you can see from the answer to question #3: in TERA requires a maximum of 8 seconds to drive the unit through all the nodes and add to the chain of nodes. But blocks are created once per second, so parallel block output is used. Works as in a normal blockchain, but only the previous block is considered to be different-taken immediately 8 previous blocks shifted by 8.

                        
                        </p>
                    </p>
                    <hr />
                    <p>
                        <strong><span class="faqa">TERA use sequential nodes to reach fast confirmation, how to react to Sybil attack and cheating nodes and other acts with bad faith?</span></strong>

                        <p>This question has already been answered in question number 1, briefly:<br />
                            The mechanism of reputation points is used. When selecting nodes for exchange, priority is given to those nodes that have a greater reputation, i.e. more successful exchanges have been conducted with them.
                        
                        </p>
                    </p>
                    <hr />
                    <p>
                        <strong><span class="faqa">What is the solution if TERA has a single point failure?</span></strong>

                        <p>I propose to solve this by creating another node program:<Br />
                                1) We will write Protocol specification.<br />
                                2) One or more commands will create their own version of the node (including other programming languages, such as C).<br />

                        
                        </p>
                    </p>
                    <hr />
                    <p>
                        <strong><span class="faqa">TERA smart contract has wormhole agreement?</span></strong>

                        <p>There is a possibility to create your own tokens and they automatically appear in the standard wallet of the user. Token transfer is the same payment transaction. Token support is made at the system level, In General, the tera coin is, we can say, also a token but with the number 0.<br />
The transaction of creating your own token is a normal transaction of creating a smart contract, but with a token generation parameter and an increased transaction fee. In addition, this smart contract has elevated rights-it can manage the issue of a token for the organization of arbitrarily complex user scenarios. It is also possible to send a simplified transaction without a smart contract with a predetermined amount of emission.

                        
                        </p>
                    </p>
                    <hr />
                    <p>
                        <strong><span class="faqa">Roadmap says that TERA plans to achieve million tps, is it for real or exaggerate? What are concrete steps? </span></strong>

                        <p>Now there is only an intuitive understanding that this is possible. But to create such algorithms, you need statistics, you need the actual use of the network at least 10% of its capacity. Therefore, the work on the study of greater scalability shifted forward to a wider application of the TERA.

                        
                        </p>
                    </p>
                    <hr />
                    <p>
                        <strong><span class="faqa">Can you explain in details your plan for decentralized mining pool? The basic mechanism and how Tera can achieve it?</span></strong>

                        <p>The basic idea is that each node in the network becomes a decentralized pool. Miners are randomly connected to it and send their hashes. Now the miner must have a public Internet address (ip) to send their versions of hashes to the network. In the case of pools-it will not be required.

                        
                        </p>
                    </p>
                    <hr />
                    <p>
                        <strong><span class="faqa">What is the next step in TERA plan for DApps ecosystem?</span></strong>

                        <p>The creation of the IDE. The involvement of programmers. Implementation of a million DApps ideas that were previously impossible due to limited speed.

                        
                        </p>
                    </p>
                    <hr />
                    <p>
                        <strong><span class="faqa">What is the ultimate ecosystem TERA would like to achieve? 
</span></strong>

                        <p>Build a world economy without borders based on the tera Blockchain.

                        
                        </p>
                    </p>
                    <hr />
                    <p>
                        <strong><span class="faqa">What do you think is the main advantages Tera has over other blockchain projects? 
</span></strong>

                        <p>Decentralisation at the same time with high transaction processing speed.<br />
True DApps that do not require hosting.<br />
No fee transactions.<br />

                        </p>
                    </p>

                    <hr />
                    <p>
                        <strong><span class="faqa">Why is TERA popular in China, but not so popular abroad? What’s your opinion on such a hot atmosphere in China? 
</span></strong>

                        <p>Due to the large presence of Scam projects, Tera is not heard in the West. In addition to blame here it's our policy to do first, then write the result in WP. In China, Tera has become mostly known thanks to our team members - who are themselves from China.

                        </p>
                    </p>

                    <hr />
                    <p>
                        <strong><span class="faqa">At present, the  roadmap only was updated to Q1 of 2019. What is the future development roadmap of TERA? Will it have a major update? Will anonymity be introduced?
</span></strong>

                        <p>The main road map is very simple:<br /><br />
To create an IDE for developing DApp.<br />
To attract programmers.<br />
Create millions of Dapps.<br />
Creating a legal company might Fund the development of TERA.<br /><br />

We will create a roadmap in more detail in the near future.


                        </p>
                    </p>

                    <hr />
                    <p>
                        <strong><span class="faqa">How long will it take for these addresses, ips, and ports to be published on the network when the list of nodes is published?
</span></strong>

                        <p>Nodes receive a list of addresses in portions and the contents of these portions are random. It usually takes a few minutes for information about all the nodes to spread across the network.


                        </p>
                    </p>

                    <hr />
                    <p>
                        <strong><span class="faqa">Will it take one public IP address per node in the future?
</span></strong>

                        <p>Yes. TERA is not just a decentralized network - it is a distributed network. So we need to have a lot of public addresses.


                        </p>
                    </p>
				</div>
				<!-- /About Tera content -->
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->

	</div> 
	<!-- /About Tera -->

{{File=./SITE/footer_index.html}}
