	<!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div class="col-md-12">

					<!-- footer logo -->
					<div class="footer-logo">
						<a href="/"><img src="/PIC/Tera_logo.svg" alt="TERA Foundation"></a>
					</div>
                    <!-- /footer logo -->
                    <!-- footer links -->
                    <div class="footer-link">
                        <span class="footer-link-item">
                            <a href="/explorer.html">EXPLORER</a>
                        </span>
                        <span class="footer-link-item">
                            <a href="/web-wallet.html">WALLET</a>
                        </span>
                        <span class="footer-link-item">
                            <a href="/map.html">NETWORK MAP</a>
                        </span></div>
					<!-- /footer links -->

					<!-- footer follow -->
                    {{File=./SITE/footer-follow.html}}
					<!-- /footer follow -->
                    <p align="center">
                        Project Founder Email: <a href="mailto: progr76@gmail.com" style="font-size: 14px;">progr76@gmail.com</a>.
                    </p>
         			<p align="center">
                    	<a href="terms-and-conditions.html">Terms and Conditions</a> | <a href="privacy-policy.html">Privacy Policy</a> | <a href="/admin" style="font-size: 14px;">admin</a> | <a href="/blog/reload" style="font-size: 14px;">reload</a><br /><br />TERA Foundation, 2017 — 2019.
               		</p>
			    </div>
            </div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</footer>
	<!-- /Footer -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="/SITE/JS/jquery.min.js"></script>
	<script type="text/javascript" src="/SITE/JS/bootstrap.min.js"></script>
	<script type="text/javascript" src="/SITE/JS/main.min.js"></script>
    <script type="text/javascript" src="/SITE/JS/cookies.js"></script>

    <div id="cookiesmessage">
        This site uses cookies. You need to read the <a href="privacy-policy.html" target="_blank">Privacy Policy</a> and click "<a onclick="setCookie('teracookies','tera_agree', 1); document.getElementById('cookiesmessage').style.display = 'none';" id="i_agree" style="cursor: pointer;"><strong>I AGREE</strong></a>" to continue.
    </div>

</body>

</html>
