﻿<ul class="footer-follow" style="margin-bottom: 0px;">
    <li><a href="https://bitcointalk.org/index.php?topic=4573801.0" target="_blank"><i class="fab fa-btc footicons"></i></a></li>
    <li><a href="https://twitter.com/terafoundation" target="_blank"><i class="fab fa-twitter footicons"></i></a></li>
    <li><a href="https://www.reddit.com/user/Terafoundation" target="_blank"><i class="fab fa-reddit footicons"></i></a></li>
    <li><a href="https://discord.gg/CvwrbeG" target="_blank"><i class="fab fa-discord footicons"></i></a></li>
    <li><a href="https://gitlab.com/terafoundation/tera" target="_blank"><i class="far fa-file-code footicons"></i></a></li>
    <li><a href="https://web.telegram.org/#/im?p=@terafoundation" target="_blank"><i class="fab fa-telegram-plane footicons"></i></a></li>
    <li><a href="https://jq.qq.com/?_wv=1027&k=5KpN5fw" target="_blank"><i class="fab fa-qq footicons"></i></a></li>
</ul>
