<!DOCTYPE html>
<html lang="en">

<head>   
    <script type="text/javascript" >
        if (window.location.href == 'https://terafoundation.org/index.html') location.href = '/';
    </script>
    <title>TERA Foundation: The Fastest Block Generation Blockchain</title>
    <meta data-n-head="true" data-hid="description" name="description" content="TERA — Fast block generation, High transaction throughput, User-friendly">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="CSS/bootstrap.min.css" />
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="CSS/style.min.css" />

    {{File=./SITE/metrika.html}}

</head>

<body>
	<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->
		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="PIC/Tera_Text_gray.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
							<img class="logo-alt" src="PIC/Tera_Text.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right white_menu">
					<li><a href="#about">ABOUT</a></li>
                    <!--li><a href="/changelog.html">CHANGELOG</a></li-->
					<li><a href="/tera-coin.html">TERA COIN</a></li>
                    <li><a href="/blog/">BLOG</a></li>
	

                    <li class="dropdown2 language-panel">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">BLOCKCHAIN<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/explorer.html">EXPLORER</a></li>
                            <li><a href="/web-wallet.html">WALLET</a></li>
                            <li><a href="/map.html">NETWORK MAP</a></li>
                        </ul>
                    </li>

                    <!-- Documentation -->
                    <li class="dropdown2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">DOCUMENTATION<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                WHITE PAPER
                                <ul>
                                    <li><a href="/files/TERA_WP_EN.pdf" target="_blank">ENG</a></li>
                                    <li><a href="/files/TERA_WP_RU.pdf" target="_blank">RUS</a></li>
                                    <li><a href="/files/TERA_WP_DE.pdf" target="_blank">DE</a></li>
                                    <li><a href="/files/TERA_WP_CN.pdf" target="_blank">CN</a></li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                DAPP PAPER
                                <ul>
                                    <li><a href="https://docs.google.com/document/d/10yXAKxaU7YgrQnbdXu_L7WWovUoRtdJwo3tXXaGZGSQ/edit?usp=sharing" target="_blank">ENG</a></li>
                                    <li><a href="https://docs.google.com/document/d/1SkD4yc_POaGRMJRC6yGkDfdJUuKbcyq3JpG0cBXeYGM/edit?usp=sharing/" target="_blank">RUS</a></li>
                                    <li><a href="/files/TERA_DApps_CN.pdf" target="_blank">CN</a></li>
                                    <li><a href="https://docs.google.com/document/d/10yXAKxaU7YgrQnbdXu_L7WWovUoRtdJwo3tXXaGZGSQ/edit?usp=sharing/" target="_blank">FAQ</a></li>

                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                OTHER
                                <ul>
                                    <li><a href="https://gitlab.com/terafoundation/tera/blob/master/Doc/Eng/API.md" target="_blank">API</a></li>
                                    <li><a href="https://gitlab.com/terafoundation/tera/blob/master/Doc/Eng/API2.md" target="_blank">API2</a></li>
                                    <li><a href="https://docs.google.com/document/d/18DtASGhrbRwXCAkQR1hQG0lVdrStp4CgA-pd6hicwfo/edit?usp=sharing/" target="_blank">TERAHASH (mining algo)</a></li>
                                    <li><a href="/files/TERA_MINING_CN.pdf" target="_blank">TERAHASH (CN, mining algo)</a></li>
                                    <li><a href="/faq.html">FAQ</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown2 language-panel">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><img src="../PIC/eng.png" /> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/ru/"><img src="../PIC/rus.png" /> Русский</a>
                            </li>
                            <li>
                                <a href="/de/"><img src="../PIC/de.png" /> Deutsch</a>
                            </li>
                            <li>
                                <a href="/cn/"><img src="../PIC/cn.png" /> 中文</a>
                            </li>
                        </ul>
                    </li>

				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>

        <!-- /Nav -->

		<!-- Social Header -->
		<div class="home-wrapper">
			<div class="container">

                <!-- Row -->
                <div class="row">
    
                    <div class="col-md-12">

                        <!-- Social follow --><br /><br />
                        {{File=./SITE/footer-follow.html}}
                        <!-- /Social follow -->
    
                    </div>
    
                </div>
                <!-- /Row -->
    
            </div>
		</div>
		<!-- /About Tera -->

	</header>
    <!-- /Header -->

	<!-- About Tera -->