{{File=./SITE/header_index.html}}
	<div id="about" class="section md-padding bg-grey">
		<!-- Container -->
		<div class="container">
			<!-- Row -->
			<div class="row">

				<!-- About Tera content -->
				<div class="col-md-12 about-panel">
					<div class="section-header text-center">
						{{Edit=./SITE/CONTENT/en-index-about-title.md}}
					</div>
                    <p class="tera-logo-panel">
                        <img src="PIC/map-nodes.jpg" width="312" height="166" class="img img--100" />
                        {{Edit=./SITE/CONTENT/en-index-about-text.md}}
                    </p>
                    <p class="tera-logo-panel">
                        <div class="col-md-6">
                            <div class="about bg-grey scheme-panel">
                                {{Edit=./SITE/CONTENT/en-index-about-b1.md}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="about bg-grey scheme-panel">
                                {{Edit=./SITE/CONTENT/en-index-about-b2.md}}
                            </div>
                        </div>

                    </p>
				</div>
				<!-- /About Tera content -->
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->

	</div>
	<!-- /About Tera -->

	<!-- Key Features -->
	<div id="features" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					{{Edit=./SITE/CONTENT/en-index-features-title.md}}
				</div>
				<!-- /Section header -->

				<!-- Key Feature -->
				<div class="col-md-4">
					<div class="about bg-grey">
                        <i class="fab fa-hubspot"></i>
						{{Edit=./SITE/CONTENT/en-index-features-1.md}}
					</div>
				</div>
				<!-- /Key Feature -->

				<!-- Key Feature -->
				<div class="col-md-4">
					<div class="about bg-grey">
                        <i class="fas fa-boxes"></i>
                        {{Edit=./SITE/CONTENT/en-index-features-2.md}}
					</div>
				</div>
				<!-- /Key Feature -->

				<!-- Key Feature -->
				<div class="col-md-4">
					<div class="about bg-grey">
                        <i class="fas fa-university"></i>
                        {{Edit=./SITE/CONTENT/en-index-features-3.md}}
					</div>
				</div>
				<!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <i class="fas fa-hand-holding-usd"></i>
                        {{Edit=./SITE/CONTENT/en-index-features-4.md}}
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <i class="fas fa-shield-alt"></i>
                        {{Edit=./SITE/CONTENT/en-index-features-5.md}}
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <i class="fas fa-code"></i>
                        {{Edit=./SITE/CONTENT/en-index-features-6.md}}
                    </div>
                </div>
                <!-- /Key Feature -->
			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>

	<!-- Specification -->
	<div id="technology" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2>Specification</h2>
				</div>
				<!-- /Section header -->

                <dl class="spec-list">
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Max Supply</dt>
                        <dd class="spec-list__value"><a href="/dapp/67">1,000,000,000</a></dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Launch date</dt>
                        <dd class="spec-list__value">Jul-01-2018</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Consensus Protocol</dt>
                        <dd class="spec-list__value">POW</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Cryptography</dt>
                        <dd class="spec-list__value">sha3, secp256k1</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Smart contract language</dt>
                        <dd class="spec-list__value">JavaScript</dd>
                    </div>


                    <div class="spec-list__item">
                        <dt class="spec-list__title">Block Size</dt>
                        <dd class="spec-list__value">130 KB</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Pre-mine</dt>
                        <dd class="spec-list__value">5%</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Source Code</dt>
                        <dd class="spec-list__value">
                            <a href="https://gitlab.com/terafoundation/tera" target="_blank">gitlab.com</a>
                            or
                            <a href="https://sourceforge.net/p/tera/code/ci/master/tree/" target="_blank">sf</a>
                        </dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Explorer</dt>
                        <dd class="spec-list__value">
                            <a href="https://terafoundation.org/explorer.html" target="_blank">terafoundation.org</a>
                        </dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Platform</dt>
                        <dd class="spec-list__value">NodeJS</dd>
                    </div>
                </dl>
			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Specification -->
    
        <!-- Team -->
    <div id="team" class="section md-padding" >
        <h2 class="section-header text-center">
            TERA PRODUCT TEAM
        </h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="PIC/vtools.jpg" alt="Yuriy Ivanov photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/vtools/?locale=en_US" target="_blank">
                            <h4 class="person-card__title">Yuriy Ivanov <span>| Vtools</span></h4>
                        </a>
                        <p class="person-card__position"><!-- Head of Architect Department  --></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Yuriy Ivanov</h4>
                            <em>Vtools</em>
                            <p class="add-info__position"><!-- Head of Architect Department  --></p>
                            <p class="add-info__desc">
                                <!-- Moscow State University of Instrument Engineering and Computer Science, department of Computer Science and computer facilities. -->
                            </p>

                            <a href="https://www.linkedin.com/in/vtools/?locale=en_US" class="add-info__linkedin" target="_blank">
                                <img src="PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="PIC/Gennady.jpg" alt="Gennady Ivanov photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/gennady-ivanov-195a8590/" target="_blank">
                            <h4 class="person-card__title">Gennady Ivanov <span>| Gennady</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Gennady Ivanov</h4>
                            <em>Gennady</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/gennady-ivanov-195a8590/" class="add-info__linkedin" target="_blank">
                                <img src="PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="PIC/PsyArcus.jpg" alt="Evgeny Ustinovich photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/ustinovichevgeny/?locale=en_US" target="_blank">
                            <h4 class="person-card__title">Evgeny Ustinovich <span>| PsyArcus</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Evgeny Ustinovich</h4>
                            <em>PsyArcus</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/ustinovichevgeny/?locale=en_US" class="add-info__linkedin" target="_blank">
                                <img src="PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="PIC/corey.jpg" alt="Yuan Chen photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/yuan-chen-331bbb145/" target="_blank">
                            <h4 class="person-card__title">Yuan Chen <span>| corey</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Yuan Chen</h4>
                            <em>corey</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/yuan-chen-331bbb145/" class="add-info__linkedin" target="_blank">
                                <img src="PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="PIC/Ryuu.jpg" alt="Long Vu Hoang photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/long-vu-hoang-2a480a89/" target="_blank">
                            <h4 class="person-card__title">Long Vu Hoang <span>| Ryuu</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Long Vu Hoang</h4>
                            <em>Ryuu</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/long-vu-hoang-2a480a89/" class="add-info__linkedin" target="_blank">
                                <img src="PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="PIC/mindsignals.jpg" alt="Ross Goldberg photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/ross-goldberg-5979bb/" target="_blank">
                            <h4 class="person-card__title">Ross Goldberg <span>| mindsignals</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Ross Goldberg</h4>
                            <em>mindsignals</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/ross-goldberg-5979bb/" class="add-info__linkedin" target="_blank">
                                <img src="PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="PIC/itutu.jpg" alt="Wei Li photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/wei-li-5b8800182/" target="_blank">
                            <h4 class="person-card__title">Wei Li <span>| itutu</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Wei Li</h4>
                            <em>itutu</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/wei-li-5b8800182/" class="add-info__linkedin" target="_blank">
                                <img src="PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="PIC/weiwutera.jpg" alt="Hongsang U photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/hongsang-u-18348616b/" target="_blank">
                            <h4 class="person-card__title">Hongsang U <span>| weiwutera</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Hongsang U</h4>
                            <em>weiwutera</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/hongsang-u-18348616b/" class="add-info__linkedin" target="_blank">
                                <img src="PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="PIC/groboro.jpg" alt="Timo Stutz photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/timo-stutz/" target="_blank">
                            <h4 class="person-card__title">Timo Stutz <span>| groboro</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Timo Stutz</h4>
                            <em>groboro</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/timo-stutz/" class="add-info__linkedin" target="_blank">
                                <img src="PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="PIC/Ken.jpg" alt="Ken Chan photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/ken-chan-170399183/" target="_blank">
                            <h4 class="person-card__title">Ken Chan <span>| Ken</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Ken Chan</h4>
                            <em>Ken</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/ken-chan-170399183/" class="add-info__linkedin" target="_blank">
                                <img src="PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="PIC/tina629.jpg" alt="Ken Chan photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/xiu-zhao/" target="_blank">
                            <h4 class="person-card__title">Xiu Zhao <span>| tina629</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Xiu Zhao</h4>
                            <em>tina629</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/xiu-zhao/" class="add-info__linkedin" target="_blank">
                                <img src="PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-lg-3 person-card person-card--empty">
                    <div class="person-card__wrapper">
                        <div class="line-v"></div>
                        <div class="square-dot"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Team -->

    <!-- News-->
    <div id="lastnews" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-xs-12">
                    <!-- Section header -->
                    <div class="no-more-tables">
                        {{Edit=./SITE/CONTENT/en-index-lastnews.md}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /News-->

    <!-- Updates -->
    <div id="updates" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- /Section header -->
                <div class="no-more-tables">
                    {{Edit=./SITE/CONTENT/en-index-changelog.md}}
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Updates -->

	<!-- Roadmap -->
	<div id="roadmap" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2>Roadmap</h2>
				</div>
				<!-- /Section header -->
                <div class="row flex wrap">
                    <!-- Roadmap Item -->
                    <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line done">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    Oct 2018
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            Smart-contracts
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->

                    <!-- Roadmap Item -->
                    <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line done">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    Nov 2018
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            Decentralized forum
                                        </li>
                                        <li>
                                            Decentralized stock exchange
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->

                     <!-- Roadmap Item -->
                     <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line done">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    Dec 2018
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            Web wallet
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->

                     <!-- Roadmap Item -->
                     <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line processing">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body ">
                                <div class="roadmap-item__date">
                                    2019
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>Android/iOS Wallets</li>
                                        <li>Creation of IDE for DApps development</li>
                                        <li>Creating DApp for anonymous payments</li>
                                        <li>Research to increase transactions with sharding up to 1 million tps</li>
                                        <li>Creation of financial instruments for actions on tokens: futures, options, pawnshops</li>
                                        <li>DHT technology support</li>
                                        <li>Domain name support (.tera)</li>
                                        <li>Gateway to the decentralized internet (web3)</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->



                </div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Roadmap -->

    <!-- LINKS -->
    <div id="links" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <!-- About Tera content -->
                <div class="col-md-12">
                    <div class="section-header">
                        <h2 class="title md-down-left">TERA links</h2>
                    </div>
                 <div class="col-md-4">
                    <div class="about bg-grey bl-panel">

                        <h3><i class="fas fa-code linksico"></i> FOR DEVELOPERS</h3>

                        {{Edit=./SITE/CONTENT/en-index-link-1.md}}

                   </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey bl-panel">

                        <h3><i class="fas fa-dollar-sign linksico"></i> FOR INVESTORS</h3>

                        {{Edit=./SITE/CONTENT/en-index-link-2.md}}

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey bl-panel">

                        <h3><i class="fas fa-server linksico"></i> FOR MINERS</h3>

                        {{Edit=./SITE/CONTENT/en-index-link-3.md}}

                   </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey bl-panel">

                        <h3><i class="fas fa-info-circle linksico"></i> TERA INFORMATION</h3>

                        {{Edit=./SITE/CONTENT/en-index-link-4.md}}

                     </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey bl-panel">

                        <h3><i class="fas fa-globe linksico"></i> TERA COMMUNITY</h3>

                        {{Edit=./SITE/CONTENT/en-index-link-5.md}}

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey bl-panel">

                        <h3><i class="fas fa-handshake linksico"></i> OTHER</h3>

                        {{Edit=./SITE/CONTENT/en-index-link-6.md}}

                    </div>
                </div>
                <!-- /About Tera content -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->

    </div></div> 
{{File=./SITE/footer_index.html}}
