                <ul class="main-nav nav navbar-nav navbar-right white_menu">
                    <li><a href="/#about">ABOUT</a></li>
                    <!--li><a href="/changelog.html">CHANGELOG</a></li-->
                    <li><a href="/tera-coin.html">TERA COIN</a></li>
                    <li><a href="/blog/">BLOG</a></li>
    

                    <li class="dropdown2 language-panel">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">BLOCKCHAIN<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/explorer.html">EXPLORER</a></li>
                            <li><a href="/web-wallet.html">WALLET</a></li>
                            <li><a href="/map.html">NETWORK MAP</a></li>
                        </ul>
                    </li>

                    <!-- Documentation -->
                    <li class="dropdown2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">DOCUMENTATION<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                WHITE PAPER
                                <ul>
                                    <li><a href="/files/TERA_WP_EN.pdf" target="_blank">ENG</a></li>
                                    <li><a href="/files/TERA_WP_RU.pdf" target="_blank">RUS</a></li>
                                    <li><a href="/files/TERA_WP_DE.pdf" target="_blank">DE</a></li>
                                    <li><a href="/files/TERA_WP_CN.pdf" target="_blank">CN</a></li>
                                    <li><a href="https://sourceforge.net/p/tera/code/ci/master/tree/Doc/Chinese/WP_chinese.pdf?format=raw" target="_blank">CHINESE</a></li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                DAPP PAPER
                                <ul>
                                    <li><a href="https://docs.google.com/document/d/10yXAKxaU7YgrQnbdXu_L7WWovUoRtdJwo3tXXaGZGSQ/edit?usp=sharing" target="_blank">ENG</a></li>
                                    <li><a href="https://docs.google.com/document/d/1SkD4yc_POaGRMJRC6yGkDfdJUuKbcyq3JpG0cBXeYGM/edit?usp=sharing/" target="_blank">RUS</a></li>
                                    <li><a href="/files/TERA_DApps_CN.pdf" target="_blank">CN</a></li>
                                    <li><a href="https://docs.google.com/document/d/10yXAKxaU7YgrQnbdXu_L7WWovUoRtdJwo3tXXaGZGSQ/edit?usp=sharing/" target="_blank">FAQ</a></li>

                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                OTHER
                                <ul>
                                    <li><a href="https://sourceforge.net/p/tera/code/ci/master/tree/Doc/Eng/API.md" target="_blank">API</a></li>
                                    <li><a href="https://docs.google.com/document/d/18DtASGhrbRwXCAkQR1hQG0lVdrStp4CgA-pd6hicwfo/edit?usp=sharing/" target="_blank">TERAHASH (mining algo)</a></li>
                                    <li><a href="/files/TERA_MINING_CN.pdf" target="_blank">TERAHASH (CN, mining algo)</a></li>
                                    <li><a href="/faq.html">FAQ</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown2 language-panel">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><img src="../PIC/eng.png" /> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/ru/"><img src="../PIC/rus.png" /> Русский</a>
                            </li>
                            <li>
                                <a href="/de/"><img src="../PIC/de.png" /> Deutsch</a>
                            </li>
                            <li>
                                <a href="/cn/"><img src="../PIC/cn.png" /> 中文</a>
                            </li>
                        </ul>
                    </li>

                </ul>