<!DOCTYPE html>
<html lang="en">

<head>
    <title>TERA Foundation: TERA Content Fund</title>
    <meta data-n-head="true" data-hid="description" name="description" content="Tera - Fast block generation, High transaction throughput, User-friendly">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="CSS/bootstrap.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="CSS/style.min.css" />


    {{File=./SITE/metrika.html}}

</head>

<body>
	<!-- Header -->
	<header id="home" class="pages-head-home">

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
                            <img class="logo" src="PIC/Tera_Text_gray.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
                            <img class="logo-alt" src="PIC/Tera_Text.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
                {{File=./SITE/page_navigation.html}}
				<!-- /Main navigation -->

			</div>
		</nav>






		<!-- /Nav -->

		<!-- Social Header -->
		<div class="home-wrapper">
			<div class="container">

                <!-- Row -->
                <div class="row">
    
    
                </div>
                <!-- /Row -->
    
            </div>
		</div>
		<!-- /About Tera -->

	</header>
    <!-- /Header -->

	<!-- About Tera -->
	<div id="about" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">
				<!-- About Tera content -->
				<div class="col-md-12 about-panel">
					<div class="section-header text-center">
						<h1>TERA CONTENT FUND</h1>
					</div>
                    <p>
We are pleased to announce that today it was decided to create a Fund that will reward people who write quality articles about the TERA project. Replenishment of the Fund's reserves will be carried out continuously. Payout currency is Bitcoin (BTC). The current balance of reserves will be available to everyone at <a href="https://terafoundation.org/history.html#191875" target="_blank"><strong>191875</strong></a>. At the moment, the reserves are <strong>0.250 BTC</strong>.<br /><br />

The terms of the project:<br />
<ol style="margin-left: 40px; list-style-type: decimal;">

<li>Content must be popular and must be published on Reddit or Medium.</li>
<li>The article must contain at least 3000 characters (without spaces).</li>
<li>The content of the article should be absolutely unique, informative and cause interest of the target audience.</li>
<li>Remuneration in the amount of 50 to 100 USD (in cryptocurrency equivalent) depending on the quality and will be paid on the audit once a week (subject to availability of reserves in the Fund account — <a href="https://terafoundation.org/history.html#191875" target="_blank"><strong>191875</strong></a>).</li>
<li>Receiving this money, the authors undertake not to remove this article from the public place of placement.</li>
</ol>

<br />
Note: this Fund does not pay for the creation and placement of articles, it serves as a bonus. You can participate in the replenishment of the Fund, and your vote will be taken into account in the appointment of the award.<br /><br />
If you have written something important about TERA on a worldwide important portal and you think that you deserve a reward, please contact us: 
  <ol style="margin-left: 40px; list-style-type: decimal;">
    <li>Discord: <a href="https://discord.gg/CvwrbeG" target="_blank">https://discord.gg/CvwrbeG</a>.</li>
    <li>Telegram: <a href="https://t.me/@PsyArcus" target="_blank">@PsyArcus</a>.</li>
</ol>  
                    </p>
				</div>
				<!-- /About Tera content -->
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->

	</div>
	<!-- /About Tera -->
	<!-- Footer -->
{{File=./SITE/footer_index.html}}