<!DOCTYPE html>
<html lang="en">

<head>
    <title>TERA Foundation: COIN</title>
    <meta data-n-head="true" data-hid="description" name="description" content="Tera - Fast block generation, High transaction throughput, User-friendly">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="CSS/bootstrap.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="CSS/style.min.css" />


    {{File=./SITE/metrika.html}}

</head>

<body>
	<!-- Header -->
	<header id="home" class="pages-head-home">

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
                            <img class="logo" src="PIC/Tera_Text_gray.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
                            <img class="logo-alt" src="PIC/Tera_Text.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
                {{File=./SITE/page_navigation.html}}
				<!-- /Main navigation -->

			</div>
		</nav>






		<!-- /Nav -->

		<!-- Social Header -->
		<div class="home-wrapper">
			<div class="container">

                <!-- Row -->
                <div class="row">
    
    
                </div>
                <!-- /Row -->
    
            </div>
		</div>
		<!-- /About Tera -->

	</header>
    <!-- /Header -->

	<!-- About Tera -->
	<div id="about2" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">
				<!-- About Tera content -->
				<div class="col-md-12 about-panel">
					<div class="section-header text-center">
						{{Edit=./SITE/CONTENT/en-token-about-title.md}}
					</div>
                    {{Edit=./SITE/CONTENT/en-token-about-text.md}}
				</div>
				<!-- /About Tera content -->
			</div>
			<!-- /Row -->


            <div class="section-header text-center">
                <script src="https://widgets.coingecko.com/coingecko-coin-ticker-widget.js"></script>
                <coingecko-coin-ticker-widget currency="usd" coin-id="tera-smart-money" locale="en"></coingecko-coin-ticker-widget>
            </div>

		</div>
		<!-- /Container -->

	</div>
	<!-- /About Tera -->


    <div id="features" class="section md-padding exchanges">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <!-- Section header -->
                <div class="section-header text-center">
                    {{Edit=./SITE/CONTENT/en-token-exchanges-title.md}}
                </div>

                <!-- /Section header -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>TERA DEX</h4>
                        <p><a href="https://terafoundation.org/dapp/20" target="_blank"><img src="PIC/tera.png" alt="TERA on TERA decentralized Exchange" title="TERA on TERA decentralized Exchange" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->
                
                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>QBTC</h4>
                        <p><a href="https://www.qbtc.ink/trade?symbol=TERA_BTC" target="_blank"><img src="PIC/qbtc.png" alt="TERA on QBTC Exchange" title="TERA on QBTC Exchange" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>Bitalong</h4>
                        <p><a href="https://www.bitalong.com/trade/index/market/tera_usdt/" target="_blank"><img src="PIC/bitalong.png" alt="TERA on Bitalong Exchange" title="TERA on Bitalong Exchange" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>Bitmesh</h4>
                        <p><a href="https://bitmesh.com/exchange?market=btc_tera#/" target="_blank"><img src="PIC/bitmesh.png" alt="TERA on Bitmesh Exchange" title="TERA on Bitmesh Exchange" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>CHAOEX</h4>
                        <p><a href="https://chaoex-en-us.udesk.cn/hc/articles/83487" target="_blank"><img src="PIC/chaoex.png" alt="TERA on Chaoex Exchange" title="TERA on Chaoex Exchange" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>CITEX</h4>
                        <p><a href="https://www.citex.co.kr/#/trade/2/37" target="_blank"><img src="PIC/citex.png" alt="TERA on Citex Exchange" title="TERA on Citex Exchange" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>FMessenger</h4>
                        <p><a href="http://freetimes.cc/fmessenger/" target="_blank"><img src="PIC/fm.png" alt="TERA on FMessenger Project" title="TERA on FMessenger Project" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->
                
                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>Bitcola</h4>
                        <p><a href="https://www.bitcola.io/exchange?coinPair=TERA_USDT" target="_blank"><img src="PIC/bitcola.png" alt="TERA on Bitcola Exchange" title="TERA on Bitcola Exchange" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->
                
                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>Vbitex</h4>
                        <p><a href="https://www.vbitex.com/Home/Trade/index?id=14" target="_blank"><img src="PIC/vbitex.png" alt="TERA on Vbitex Exchange" title="TERA on Vbitex Exchange" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->
                
                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>MXC</h4>
                        <p><a href="https://www.mxc.com/trade.html?symbol=TERA_BTC" target="_blank"><img src="PIC/mxc.png" alt="TERA on MXC Exchange" title="TERA on MXC Exchange" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->
                
            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

   		</div>
    
        <div id="features2" class="section md-padding exchanges">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    {{Edit=./SITE/CONTENT/en-token-design-title.md}}
                </div>
                <div class="col-xs-12" style="float: none;">{{Edit=./SITE/CONTENT/en-token-design-text.md}}</div>
                <!-- /Section header -->

                <!-- Coin Picture -->
				<div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/gold-front.png" download="" target="_blank">
                            <img src="PIC/gold-front_small.png" alt="TERA coin preview. Front side. Gold" title="TERA coin preview. Front side. Gold" />
                        </a>
                        <a href="PIC/gold-front.png" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>                
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/gold-back.png" download="" target="_blank">
                            <img src="PIC/gold-back_small.png" alt="TERA coin preview. Back side. Gold" title="TERA coin preview. Back side. Gold" />
                        </a>
                        <a href="PIC/gold-back.png" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/silver-front.png" download="" target="_blank">
                            <img src="PIC/silver-front_small.png" alt="TERA coin preview. Front side. Silver" title="TERA coin preview. Front side. Silver" />
                        </a>
                        <a href="PIC/silver-front.png" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/silver-back.png" download="" target="_blank">
                            <img src="PIC/silver-back_small.png" alt="TERA coin preview. Back side. Silver" title="TERA coin preview. Back side. Silver" />
                        </a>
                        <a href="PIC/silver-back.png" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/gold-four-coins-1.jpg" download="" target="_blank">
                            <img src="PIC/gold-four-coins_small-1.jpg" alt="TERA four coin preview. Front side. Gold" title="TERA coin preview. Front side. Gold" />
                        </a>
                        <a href="PIC/gold-four-coins-1.jpg" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/gold-four-coins-2.jpg" download="" target="_blank">
                            <img src="PIC/gold-four-coins_small-2.jpg" alt="TERA four coin preview. Back side. Gold" title="TERA coin preview. Back side. Gold" />
                        </a>
                        <a href="PIC/gold-four-coins-2.jpg" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/silver-four-coins-1.jpg" download="" target="_blank">
                            <img src="PIC/silver-four-coins_small-1.jpg" alt="TERA four coin preview. Front side. Silver" title="TERA coin preview. Front side. Silver" />
                        </a>
                        <a href="PIC/silver-four-coins-1.jpg" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/silver-four-coins-2.jpg" download="" target="_blank">
                            <img src="PIC/silver-four-coins_small-2.jpg" alt="TERA four coin preview. Back side. Silver" title="TERA coin preview. Back side. Silver" />
                        </a>
                        <a href="PIC/silver-four-coins-2.jpg" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/stopka_monet_gold_02.jpg" download="" target="_blank">
                            <img src="PIC/stopka_monet_gold_02_small.jpg" alt="TERA stack of coin preview. Front side. Gold" title="TERA coin preview. Front side. Gold" />
                        </a>
                        <a href="PIC/stopka_monet_gold_02.jpg" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/stopka_monet_gold_01.jpg" download="" target="_blank">
                            <img src="PIC/stopka_monet_gold_01_small.jpg" alt="TERA stack of coin preview. Back side. Gold" title="TERA coin preview. Back side. Gold" />
                        </a>
                        <a href="PIC/stopka_monet_gold_01.jpg" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/stopka_monet_silver_02.jpg" download="" target="_blank">
                            <img src="PIC/stopka_monet_silver_02_small.jpg" alt="TERA stack of coin preview. Front side. Silver" title="TERA coin preview. Front side. Silver" />
                        </a>
                        <a href="PIC/stopka_monet_silver_02.jpg" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/stopka_monet_silver_01.jpg" download="" target="_blank">
                            <img src="PIC/stopka_monet_silver_01_small.jpg" alt="TERA stack of coin preview. Back side. Silver" title="TERA coin preview. Back side. Silver" />
                        </a>
                        <a href="PIC/stopka_monet_silver_01.jpg" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/fly_gold.jpg" download="" target="_blank">
                            <img src="PIC/fly_gold_small.jpg" alt="TERA flying coin preview. Back side. Gold" title="TERA flying coin preview. Gold" />
                        </a>
                        <a href="PIC/fly_gold.jpg" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/fly_silver.jpg" download="" target="_blank">
                            <img src="PIC/fly_silver_small.jpg" alt="TERA flying coin preview. Front side. Silver" title="TERA flying coin preview. Silver" />
                        </a>
                        <a href="PIC/fly_silver.jpg" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->
                
                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/red_velvet_1.jpg" download="" target="_blank">
                            <img src="PIC/red_velvet_1_small.jpg" alt="TERA coin on the red velvet preview. FrontBack side. Gold" title="TERA coin on the red velvet preview. Front side. Gold" />
                        </a>
                        <a href="PIC/red_velvet_1.jpg" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->

                <!-- Coin Picture -->
                <div class="col-md-4 col-lg-3">
                    <div class="bg-grey coin-preview">
                        <a href="PIC/red_velvet_2.jpg" download="" target="_blank">
                            <img src="PIC/red_velvet_2_small.jpg" alt="TERA coin on the red velvet preview. Back side. Silver" title="TERA coin on the red velvet preview. Back side. Silver" />
                        </a>
                        <a href="PIC/red_velvet_2.jpg" download="" target="_blank" class="coin-preview__icon" title="Download image in high resolution">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.978 29.978" xml:space="preserve" width="20" height="20" fill="#777">
                                <g>
                                    <path d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
                                        v-8.861H25.462z" />
                                    <path d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
                                        c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
                                        c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
                                        C15.092,18.979,14.62,18.426,14.62,18.426z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- /Coin Picture -->
            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    
    
    <div id="about" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <!-- About Tera content -->
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2 class="title">TERA MINING</h2>
                    </div>
                    <p align="center">
<a href="https://sourceforge.net/p/tera/code/ci/master/tree/README.md" target="_blank">TERA documentation </a> will help you start mining today.
                    </p>

                </div>
                <!-- /About Tera content -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->

    </div>
	<!-- Footer -->
{{File=./SITE/footer_index.html}}