<!DOCTYPE html>
<html lang="en">

<head> 
    <title>TERA Foundation: Terms & Conditions</title>
    <meta data-n-head="true" data-hid="description" name="description" content="Tera - Fast block generation, High transaction throughput, User-friendly">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="CSS/bootstrap.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="CSS/style.min.css" />


    {{File=./SITE/metrika.html}}

</head>

<body>

<body>
	<!-- Header -->
	<header id="home" class="pages-head-home">

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
                            <img class="logo" src="PIC/Tera_Text_gray.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
                            <img class="logo-alt" src="PIC/Tera_Text.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
                {{File=./SITE/page_navigation.html}}
				<!-- /Main navigation -->

			</div>
		</nav>






		<!-- /Nav -->

		<!-- Social Header -->
		<div class="home-wrapper">
			<div class="container">

                <!-- Row -->
                <div class="row">
    
    
                </div>
                <!-- /Row -->
    
            </div>
		</div>
		<!-- /About Tera -->

	</header>
    <!-- /Header -->

	<!-- About Tera -->
	<div id="about" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- About Tera content -->
				<div class="col-md-12">
					<div class="section-header text-center about-panel">
            {{Edit=./SITE/CONTENT/en-tera-terms-and-conditions-title.md}}
					</div>
            {{Edit=./SITE/CONTENT/en-tera-terms-and-conditions-text.md}}
				</div>
				<!-- /About Tera content -->
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->

	</div>
	<!-- /About Tera -->



	<!-- Footer -->
{{File=./SITE/footer_index.html}}