{
    "id":"1",
    "post_url":"/blog/1-solving-the-blockchain-trilemma-tera.html",
    "title_pic":"/blog/uploads/1/1_1.png",
    "post_title":"Solving the Blockchain Trilemma — TERA",
    "post_announce":"Bitcoin and Ethereum are the most widely recognized projects of the blockchain movement, seeking to replace our current trading, financial and economic system with one that is more decentralized and secure...",
    "post_date":"06-March-2019"
}

=START=

 
                Bitcoin and Ethereum are the most widely recognized projects of the blockchain movement, seeking to replace our current trading, financial and economic system with one that is more decentralized and secure.<br />
                We know that the TPS of Bitcoin is 7 although it’s considered as the most decentralized and security blockchain. Think of last bull run market，the all Bitcoin network got crowded and the transaction pool is full of transactions which led to the high transaction fees. Ethereum improves its scalability but it’s still not enough，still remember the cryptokitties?<br /><br />

                EOS adopted the DPOS consensus but there are only 21 masternodes and it can freeze the account on its network. Now its TPS reaches nearly 4,000 and its scalability seems much better than Bitcoin and Ethereum. But nowadays we just think it centralized and some even wonder if it’s real blockchain or no.<br /><br />

               Today I’m going to introduce Tera which aims to <strong>solve the Blockchain Trilemma</strong>. The total supply of Tera is 1 billion and it was issued in July 2018. It’s <strong>mineable</strong> and now only for <strong>CPU+memory mining</strong> <br /><br />
               <img src="./uploads/1/1_2.jpg" /><br />
               As a hash standard, SHA-3 provides certified security to users’ private key and high-speed encryption based on hard-device, so SHA-3 may be the most suitable for the future capital market. Thus its hashrate is in a higher position than SHA-2.
               <br />
               Although the block size is small(120 kb) but its block time is one second so it can transfer about 70 MB in ten minutes.TERA blockchain is capable of throughput of 1000 transactions per second while retaining all praised blockchain features and bringing huge possibilities for further development and seamless integration with existing infrastructure as well as with new emerging technologies.
               <br /><br />
               Now the devs are developing its website and mobile wallet including IOS and Android. I just created a website wallet to experience the fast transaction of Tera with 1 second block time, 8 seconds for full confirmation of transfer and zero fees. Thanks to the community and foundation, I finally got 100 Tera and it only took seconds to confirm it. According to the whitepaper, nodes organize themselves into an orderly communication mode, with the upper limit of transaction transmission between nodes being 100ms.(while every two nodes in bitcoin usually take several seconds, and more nodes will take more time.)
               <br /><br />
               <a href="https://v.qq.com/x/page/a1358vo8ysg.html">https://v.qq.com/x/page/a1358vo8ysg.html</a>.
               <br /><br />
               The hashrate of all network hits more than 6.000 GH/s and it grows nearly 1.5 X than last week. The nodes are now about more than 760, The higher hashrate and the more nodes, the network would be more security!<br />
               <img src="./uploads/1/1_3.jpg" /><br /><br />
               <span style="font-size: 16px;"><strong>Exchanges</strong></span>
               <br /><br />
               Currently, Tera is listed on several exchanges including QBTC, Bitalong,Bitmash as well as Citex. There is a built-in exchange on the website but the depth is still a problem.<br />
               <img src="./uploads/1/1_4.jpg" /><br /><br />
               <span style="font-size: 16px;"><strong>Community</strong></span>
               <br /><br />
               The community is really active whether in discord or wechat group. Tera is a project driven by community and technical development. I’m really glad to the team get larger and larger.<br />
               <img src="./uploads/1/1_5.jpg" />
               <br /><br />
               <span style="font-size: 16px;"><strong>Development</strong></span>
               <br /><br />
               Vtools is the main developer and now some new members joined the family for website optimization and other development including the UI and deployment. It’s worth mentioning that Tera has developed many DApps, they are original and interesting. Why not have a try.<br />
               <img src="./uploads/1/1_6.jpg" />
               <br /><br />
               Now the price of Tera is about 80 satoshis and it’s double of being listed on exchanges. The development of Tera is rapid and stable whether in price and technology.<br /><br />
               <i>Original: <a href="https://medium.com/@Blockchainize1/solving-the-blockchain-trilemma-tera-fa227870df85" target="_blank">https://medium.com/@Blockchainize1/solving-the-blockchain-trilemma-tera-fa227870df85</a>.</i>
                </p>
            </div>

            <!-- /Row -->
           
         </div>
         <!-- /Container -->
