{
    "id":"2",
    "post_url":"/blog/2-tera-crypto-currency-project.html",
    "title_pic":"/blog/uploads/1/1_1.png",
    "post_title":"TERA CRYPTO CURRENCY PROJECT",
    "post_announce":"Tera is an open source and collaborative project. It means everyone can view and eventually modify its source code for her/his own needs. And it also means anyone is welcome to integrate its working community...",
    "post_date":"06-March-2019"
}

=START=
Tera is an open source and collaborative project. It means everyone can view and eventually modify its source code for her/his own needs. And it also means anyone is welcome to integrate its working community. The Tera community works to develop, deploy and maintain Tera nodes and decentralized applications that are part of the Tera Network.<br /><br />

The Tera technology serves the cryptocurrency concepts, trying to design a modern coins and contracts blockchain application : fast block generation, high transaction throughput and user-friendly application. It was officialy launched on 30th of June 2018 on the bitcointalk forum.<br /><br />

Yuriy Ivanov is the founder and core developer of the project. The Tera community is more familiar with the alias « vtools ».<br /><br />

<span style="font-size: 16px;"><strong>USER FRIENDLY APPLICATION</strong></span><br /><br />
In the aim to make this crypto currency project more friendly to end-users, some interesting innovations have been implemented in regards to the first generation of crpyto currency applications. The bitcoin and its thousands of child or fork, required a good level of IT skills in order to manage all the application chain from its own : from miners and its hardware, through stratum servers, proxies, to blockchain nodes. The Tera project intend to go one step further regarding crypto currency features integration into a single application : once installed, an efficient web application is available on localhost on port 8080. Then, any web browser supporting javascript may be able to access this application and to operate fully the Tera node.<br /><br />

<span style="font-size: 18px;"><strong>MINING A CRYPTO CURRENCY</strong></span><br /><br />
<span style="font-size: 16px;"><strong>MINING CONCEPT</strong></span><br /><br /> 

The mining activity consist in calling a mathematical procedure we can’t predict the result before we run it. But we intend to obtain a very specific result, which usually consist in a certain number of 0 as the first chars before any random answer. If we found the nonce (a random object) combined with the transaction data and the coin algorithm that produce such result, we’ll have solve a transaction block and we’ll get a reward for that. Thanks to this work, the transaction listed in the block will be added to the blockchain and anyone will be able to check our work. That’s the concept of ‘proof of work’ allowing anyone to replay the mathematical procedure with the nonce discovered by the node that solved the block and to confirm block inclusion into the blockchain.
<br /><br />
<span style="font-size: 16px;"><strong>POLITICAL AND ETHICAL CONCERNS</strong></span><br /><br /> 
The Tera project is young. It will have to face the same problems is facing today the Bitcoin platform :

1. a large amount of accounts used to get money back from credulous people (e-intrusion, mail threats, etc.)
2. a large amount of accounts used for illegal commercial activities (drugs, weapons, etc.)
3. attacks to make the blockchain platform down or to corrupt the blockchain datas
4. too many financial speculation that result in a coin value that has no sense.<br /><br />

Any Crypto Currency Project with the goal its money and contracts to be used as any other historical money or service contract has to consider its political and ethical usage. Processes have to be imagined, designed and implemented in order to be able to fight against extortion, corruption and illegal activities threating crypto-currency development.<br /><br />

<span style="font-size: 16px;"><strong>FAST BLOCK GENERATION AND HIGH THROUGHPUT</strong></span><br /><br />

1.consensus : POW (proof of work)
2. algorithm : TERAhash (sha3, secp256k1)
3. max emission : 1 Bln (TERA)
4. 1 second block generation time
5. 8 seconds for full block confirmation time
6. zero fees
7. blockchain capable of a thousand transactions per seconds
8. reward for premined block : 1-20 coins
9. block size : 130KB.


<span style="font-size: 16px;"><strong>CLASSIC CRYPTO CURRENCY FEATURES</strong></span><br /><br />
wallet, accounts, payments, mining, node settings and utilities, blockchain explorer and utilities…

<br /><br />

<span style="font-size: 16px;"><strong>DECENTRALIZED APP CATALOGUE</strong></span><br /><br />

d-app : forum, stock exchange, payment plugins for third party platform.

<br /><br />

<span style="font-size: 16px;"><strong>TECHNOLOGY DEPENDENCIES</strong></span><br /><br />
Tera is entirely written in Java over the NodeJS library as functional layer in order to take advantages of a robust and high level library designed to allow large and effective network node management.<br /><br />

The miner part is imported from an external repository and is written in C in order to get the best performances for this module.<br /><br />

Tera is actually officially supported on Linux and Windows.<br /><br /><br />

If you start mining Tera thanks to this article, you can add my account 188131 as advisor to yours. On simple demand I’ll refund you half of the extra coins generated for advisors when you’ll solve blocks (@freddy#8516 on discord).<br /><br />

<span style="font-size: 16px;"><strong>MINING TERA</strong></span><br /><br />
Mining Tera has one major design constraint : you need one public IP per Tera node or miner. Yet, you can easily mine it on a computer desktop at home. The mining algorithm has been designed in order to be GPU resistant. In order to mine Tera coin you’ll need a multi-core processor (2 minimum) and some RAM, between 1 and 4GB per process that will mine. The mining reward level depends of the « power » used to solve a block (Top Tera Miners).<br /><br />

<span style="font-size: 16px;"><strong>COST AND USAGE CONCERNS</strong></span><br /><br />

There is two main cost centers in order to mine a crypto currency :<br /><br />

1. the cost of the hardware and the energy required to make a huge amount of mathematical operations connected to the blockchain network through the Internet.<br />
2. the human cost in order to deploy, maintain and keep running miners and blockchain nodes.<br /><br />
As the speculation actually drives the value of crypto currencies, it is not possible to answer if the mining activity is profitable or not. Moreover, hardware, energy and human costs are not the same around the globe. To appreciate if mining a crypto currency is profitable we should take all indirect costs : nature cost (for hardware and energy production), human cost (coins and contracts usage, social rights of blockchain workers).<br /><br />

<i>Original: <a href="https://freddy.linuxtribe.fr/recherche-et-developpement/blockchain-cryptocurrency-mining/tera-crypto-currency-project/" target="_blank">https://freddy.linuxtribe.fr/recherche-et-developpement/blockchain-cryptocurrency-mining/tera-crypto-currency-project/</a>.<br />

Author: Freddy Frouin, <a href="matilto: freddy@linuxtribe.fr">freddy@linuxtribe.fr</a>.</i>
            </div>

            <!-- /Row -->
           
         </div>
         <!-- /Container -->
