{
    "id":"3",
    "post_url":"/blog/3-tera-faq-section.html",
    "title_pic":"/blog/uploads/3/3_1.jpg",
    "post_title":"TERA Frequently Asked Questions Section",
    "post_announce":"Today, the community receives many questions from various user groups, and in this regard, it was decided to create an Frequently Asked Questions section on the site.<br /><br />",
    "post_date":"07-March-2019"
}

=START=

Today, the community receives many questions from various user groups, and in this regard, it was decided to create an <a href="/faq.html">Frequently Asked Questions</a> section on the site. The content of this section is based on an interview with the creator of the TERA project, which guarantees the most detailed and reliable answers. If you have not received an answer to your question, you will always receive support on our Discord channel: <a hre="https://discord.gg/CvwrbeG"> https://discord.gg/CvwrbeG </a>.