{
    "id":"4",
    "post_url":"/blog/4-tera-blockchain-news.html",
    "title_pic":"/blog/uploads/1/1_1.png",
    "post_title":"TERA Blockchain News",
    "post_announce":"With the large amounts of data that will inevitably occur at 1000 tps, new users should be able to quickly download the blockchain to validate it and start working with it.<br>",
    "post_date":"10-March-2019"
}

=START=

Dear TERA community,
<p />
with the large amounts of data that will inevitably occur at 1000 tps, new users should be able to quickly download the blockchain to validate it and start working with it. Therefore, the download order need to be changed - today it starts from the beginning of the chain - after the change it will be downloaded from the end.
<p />
It is an important change and will massively improve the use of TERA.
<p />
Loading information will depend on the user's settings - on the size of the disk memory that he has allocated for the blockchain. 
Depending on the size, the next download priority will be:
<p />
1. The chart of accounts.<br />
2. Block headers.<br />
3. The contents of blocks or transactions.
<p />
How it will work:<br />
For a super thin client: only part of the headers and a piece of the invoice table will be loaded.<br />
For the average customer: the entire table of accounts and titles but only part of the content blocks.<br />
For the full client-all data (as it is done now).
<p />
Example:<br />
The user allocates space for the blockchain on the disk, for example 12 GB.<br />
This disk space is divided into three parts:<br />
Regular block structure (starting from the end),  for example 5 GB.<br />
Other blocks that are not included in a regular structure but are required is stored on the node (determined by the DHT principle - i.e., the degree of similarity of the addresses of the nodes), for example 5 GB.<br />
The last commonly used blocks, for example 2 GB.<br />
<p />
If you want to support the development (we need > 100 Nodes) please start a testnet node on your mainnet node or rent a cheap VPS and start it.
<p />
<strong>
TEST NETWORK<br />
port: 40000 (change in constants)<br />
httpport: 8181<br />

Launch:
cp -a Source SourceTest<br />
cd SourceTest<br />
sudo node set-test httpport:8181 password:SecretWord<br />
sudo pm2 start run-test.js<br />
<p />
</strong>
The whole change require a complex data change that can only be done in small steps - you can expect an update once a day. The current schedule looks forward to the first updates in mainnet next week.