{
    "id":"5",
    "post_url":"/blog/5-rewarding-authors-of-articles-for-the-tera-fontent-fund.html",
    "title_pic":"/blog/uploads/1/1_1.png",
    "post_title":"Rewarding authors of articles for the TERA Content Fund",
    "post_announce":"We are pleased to inform you that we are rewarding two authors of articles...<br /><br />",
    "post_date":"11-March-2019"
}

=START=

Dear TERA community,<br />

we are pleased to inform you that we are rewarding two authors of articles for $100.
<p />
<br />

Аrticle 1: <a href="https://golos.io/ru--blokcheijn/@funnyprofit/tera-i-sovremennye-problemy-blokcheina" target="_blank">https://golos.io/ru--blokcheijn/@funnyprofit/tera-i-sovremennye-problemy-blokcheina</a>.<br />

Article 2: <a href="https://www.reddit.com/user/Terafoundation/comments/axmiif/tera_crypto_currency_project/" target="_blank">https://www.reddit.com/user/Terafoundation/comments/axmiif/tera_crypto_currency_project/</a>.

<p />

In the future, we plan to introduce a scale of criteria for evaluating articles, such as: complexity (technical part), ideology, design with illustrations and diagrams, text structuring, article size and audience response.
<p />
Do not forget about <a href="https://terafoundation.org/tera-content-fund.html" target="_blank">TERA Content Fund</a>.
<p />
Accordingly, the rewarding will depend on these criteria. But more about that later.
<p />


P.S. Don't forget to share/rate/like the articles to tell your friends about TERA ;-)