<!DOCTYPE html>
<html lang="en">

<head>
    <title>TERA Foundation: {{post_title}}</title>
    <meta data-n-head="true" data-hid="description" name="description" content="Tera - Fast block generation, High transaction throughput, User-friendly">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="../CSS/bootstrap.min.css" />

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- Custom stlylesheet -->
  <link type="text/css" rel="stylesheet" href="../CSS/style.min.css" />


    {{File=./SITE/metrika.html}}

</head>

<body>
  <!-- Header -->
  <header id="home" class="pages-head-home">

    <!-- Nav -->
    <nav id="nav" class="navbar nav-transparent">
      <div class="container">

        <div class="navbar-header">
          <!-- Logo -->
          <div class="navbar-brand">
            <a href="/">
                            <img class="logo" src="/PIC/Tera_Text_gray.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
                            <img class="logo-alt" src="/PIC/Tera_Text.svg" alt="TERA Foundation: The fastest block generation Blockchain" title="TERA Foundation: The fastest block generation Blockchain" />
            </a>
          </div>
          <!-- /Logo -->

          <!-- Collapse nav button -->
          <div class="nav-collapse">
            <span></span>
          </div>
          <!-- /Collapse nav button -->
        </div>

        <!--  Main navigation  -->
                {{File=./SITE/blog/page_navigation.html}}
        <!-- /Main navigation -->

      </div>
    </nav>






    <!-- /Nav -->

    <!-- Social Header -->
    <div class="home-wrapper">
      <div class="container">

                <!-- Row -->
                <div class="row">
    
    
                </div>
                <!-- /Row -->
    
            </div>
    </div>
    <!-- /About Tera -->

  </header>
    <!-- /Header -->

  <!-- About Tera -->
  <div id="about" class="section md-padding bg-grey">

    <!-- Container -->
    <div class="container">

      <!-- Row -->
      <div class="row">
        <!-- About Tera content -->
        <div class="col-md-12 about-panel">
          <div class="section-header text-center">
               </div>

               <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/blog/" class="pagesa">TERA Foundation: Blog</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{post_title}}</li>
                </ol>
              </nav>
               <p>
                  <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                  <script src="//yastatic.net/share2/share.js"></script>
                  <div class="ya-share2" data-services="facebook,twitter,reddit,linkedin,telegram"></div>
               </p>

                <p>
                {{post_date}}
                <h1>{{post_title}}</h1>
                <img src="{{title_pic}}" width="280" align="left" style="margin-right: 20px;" /> 

               {{Body}}
                </p>

            </div>

            <!-- /Row -->
           
         </div>
         <!-- /Container -->







      </div></div>
      <!-- /About Tera -->
      <!-- Footer -->
{{File=./SITE/footer_index.html}}