<div class="col-md-4">
    <div class="about bg-grey last-news-panel">
        <img src="{{title_pic}}" alt="{{post_title}}" title="{{post_title}}" />
        <p>{{post_date}}</p>
        <a href="{{post_url}}">{{post_title}}</a>
        <p>{{post_announce}}</p><button type="button" onclick="location.href='{{post_url}}';" class="btn btn-secondary" class="btn btn-secondary news-btn">READ MORE</button>
    </div>
</div>
