<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta data-n-head="true" data-hid="description" name="description" content="Tera - Fast block generation, High transaction throughput, User-friendly">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>TERA Foundation</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../CSS/bootstrap.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../CSS/style.min.css" />

    <style>
        @media all
        {
            .nav .open>a, .nav .open>a:focus, .nav .open>a:hover
            {
                background-color: rgba(250, 250, 250, .1);
                border-color: #337ab7;
            }

            /*.dropdown2 li*/
            /*{*/
                /*background-color: rgba(250, 250, 250, .01);*/
                /*opacity: 1;*/
            /*}*/
            /*.dropdown2 li a*/
            /*{*/
                /*background-color: rgba(250, 250, 250, .01);*/
                /*opacity: 1;*/
            /*}*/



            #nav.nav-transparent:not(.fixed-nav) .main-nav>li>a
            {
                color:white;
            }
        }

    </style>

    {{File=./SITE/metrika.html}}

</head>

<body>
    <!-- Header -->
    <header id="home">
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('../PIC/Tera_Web_BG.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->


        <!-- Nav -->
        <nav id="nav" class="navbar nav-transparent">
            <div class="container">

                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="/de/">
                            <img class="logo" src="../PIC/Tera_Text_gray.svg" alt="logo">
                            <img class="logo-alt" src="../PIC/Tera_Text.svg" alt="logo">
                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right white_menu">
                    <li><a href="#about">ÜBER TERA</a></li>
                    <!--li><a href="/changelog.html" target="_blank">CHANGELISTE</a></li-->
                    <li><a href="/tera-coin.html" target="_blank">TERA COIN</a></li>
                    <li><a href="/blog/" target="_blank">BLOG</a></li>
    

                    <li class="dropdown2 language-panel">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">BLOCKCHAIN<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/explorer.html">EXPLORER</a></li>
                            <li><a href="/web-wallet.html">WALLET</a></li>
                            <li><a href="/map.html">NETZWERK</a></li> 
                        </ul>
                    </li>

                    <!-- Documentation -->
                    <li class="dropdown2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">DOKUMENTATION<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                WHITE PAPER
                                <ul>
                                    <li><a href="/files/TERA_WP_EN.pdf" target="_blank">ENG</a></li>
                                    <li><a href="/files/TERA_WP_RU.pdf" target="_blank">RUS</a></li>
                                    <li><a href="/files/TERA_WP_DE.pdf" target="_blank">DE</a></li>
                                    <li><a href="/files/TERA_WP_CN.pdf" target="_blank">CN</a></li>
                                    <li><a href="https://sourceforge.net/p/tera/code/ci/master/tree/Doc/Chinese/WP_chinese.pdf?format=raw" target="_blank">CHINESE</a></li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                DAPP PAPER
                                <ul>
                                    <li><a href="https://docs.google.com/document/d/10yXAKxaU7YgrQnbdXu_L7WWovUoRtdJwo3tXXaGZGSQ/edit?usp=sharing" target="_blank">ENG</a></li>
                                    <li><a href="https://docs.google.com/document/d/1SkD4yc_POaGRMJRC6yGkDfdJUuKbcyq3JpG0cBXeYGM/edit?usp=sharing/" target="_blank">RUS</a></li>
                                    <li><a href="/files/TERA_DApps_CN.pdf" target="_blank">CN</a></li>
                                    <li><a href="https://docs.google.com/document/d/10yXAKxaU7YgrQnbdXu_L7WWovUoRtdJwo3tXXaGZGSQ/edit?usp=sharing/" target="_blank">FAQ</a></li>

                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                OTHER
                                <ul>
                                    <li><a href="https://sourceforge.net/p/tera/code/ci/master/tree/Doc/Eng/API.md" target="_blank">API</a></li>
                                    <li><a href="https://docs.google.com/document/d/18DtASGhrbRwXCAkQR1hQG0lVdrStp4CgA-pd6hicwfo/edit?usp=sharing/" target="_blank">TERAHASH (mining algo)</a></li>
                                    <li><a href="/files/TERA_MINING_CN.pdf" target="_blank">TERAHASH (CN, mining algo)</a></li>
                                    <!--li><a href="changelog.html">Changelog</a></li-->
                                    <li><a href="/faq.html" target="_blank">FAQ</a></li>
                                    <!--li><a href="legal.html">Legal</a></li-->
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown2">
                        <a href="/de/" class="dropdown-toggle" data-toggle="dropdown"><img src="../PIC/de.png" border="0" style="width: 24px;" /><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/" style="color: #000;"><img src="../PIC/eng.png" border="0" style="width: 24px;" /> English</a>
                            </li>
                            <li>
                                <a href="/ru/" style="color: #000;"><img src="../PIC/rus.png" border="0" style="width: 24px;" /> Русский</a>
                            </li>
                            <li>
                                <a href="/cn/" style="color: #000;"><img src="../PIC/cn.png" border="0" style="width: 24px;" /> 中文</a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <!-- /Main navigation -->

            </div>
        </nav>






        <!-- /Nav -->

        <!-- Social Header -->
        <div class="home-wrapper">
            <div class="container">

                <!-- Row -->
                <div class="row">
    
                    <div class="col-md-12">
                        <!-- Social follow -->
                        <ul class="footer-follow" style="margin-bottom: 0px;">
                            <li><a href="https://bitcointalk.org/index.php?topic=4573801.0" target="_blank"><i class="fab fa-btc"></i></a></li>
                            <li><a href="https://twitter.com/terafoundation" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.reddit.com/user/Terafoundation" target="_blank"><i class="fab fa-reddit"></i></a></li>
                            <li><a href="https://discord.gg/CvwrbeG" target="_blank"><i class="fab fa-discord"></i></a></li>
                            <li><a href="https://sourceforge.net/p/tera/code/ci/master/tree/" target="_blank"><i class="far fa-file-code"></i></a></li>
                            <li><a href="https://web.telegram.org/#/im?p=@terafoundation" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
                        </ul>
                        <!-- /Social follow -->
    
                    </div>
    
                </div>
                <!-- /Row -->
    
            </div>
        </div>
        <!-- /About Tera -->

    </header>
    <!-- /Header -->

    <!-- About Tera -->
    <div id="about" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- About Tera content -->
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2 class="title">Über TERA</h2>
                    </div>
                    <p style="text-align: center;">
                        <img src="../PIC/TERA_logo-03.png" align="center" width="240" />
                    </p>
                    <p style="text-align: justify; font-size: 15px;">
                       Wir freuen uns darüber dich auf unserer Website begrüßen zu dürfen. Mit TERA möchten wir den Menschen das Thema Blockchain und dezentralisierte Apps (dApps) auf eine neue, einfachere und vor allem, im Sinne der Dezentralisierung, richtige Weise näher bringen. TERA vereint alle erforderlichen Eigenschaften, um bereits bekannte Technologien abzulösen und die Krypto Welt zu revolutionieren. 
                    </p>
                    <p style="text-align: justify; font-size: 15px;">
                        Pro Sekunde verarbeitet TERA 1000+ Transaktionen. Es werden keine Gebühren für eine Transaktion verlangt und da die Blockzeit nur eine Sekunde beträgt, ist eine Transaktion bereits nach acht Sekunden vollständig abgeschlossen!
                    </p>
                    <p style="text-align: justify; font-size: 15px;">
                       Die TERA Blockchain wurde u. a. für die Entwicklung und Nutzung von dezentralisierten Applikationen ( DApps) entwickelt. Bereits heute gibt es mehrere kleine bis große DApps, die über die Wallet genutzt werden können. Da als Programmsprache Javascript verwendet wird, ist auch hier ein deutlich einfacherer Einstieg in die Welt der DApps möglich.

                    </p>
                    <p style="text-align: center; font-size: 15px;">                <!-- Key Feature -->
                        <div class="col-md-6">
                            <div class="about bg-grey">
                                <h4>Traditional Blockchain</h3>
                                <p><img src="../PIC/sbch.png" class="img img--100" /></p>
                            </div>
                        </div>
                        <!-- /Key Feature -->

                        <!-- Key Feature -->
                        <div class="col-md-6">
                            <div class="about bg-grey" style="height: 315px;">
                                <h4>TERA Blockchain</h3>
                                <p><img src="../PIC/tbch.png" class="img img--100" /></p>
                            </div>
                        </div>
                        <!-- /Key Feature -->
                    </p>
                </div>
                <!-- /About Tera content -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->

    </div>
    <!-- /About Tera -->

    <!-- Key Features -->
    <div id="features" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Features</h2>
                </div>
                <!-- /Section header -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <i class="fab fa-hubspot" style="color: #000;"></i>
                        <h4>Schnell(st)e Blockchain</h3>
                        <p>TERA hat mit nur einer Sekunde Blockzeit mit eine der schnellsten Blockchains auf dem Markt. Um eine Transaktion vollständig zu bestätigen dauert es nur acht Sekunden.</p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <i class="fas fa-boxes" style="color: #000;"></i>
                        <h4>Hoher Durchsatz</h3>
                        <p>Die TERA Blockchain leistet derzeit bereits über 1000 Transaktionen pro Sekunde. Unser Ziel ist es diese Zahl noch zu steigern. Bereits heute lässt sich die TERA Blockchain über unsere API’s für alle möglichen anderen Dinge benutzen.
                        </p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey" style="height: 320px;">
                        <i class="fas fa-university" style="color: #000;"></i>
                        <h4>Benutzerfreundlichkeit</h4>
                        <p>Zwar generiert jede neu installierte Wallet einen Public und einen Private-Key, doch der eigentliche Account ist eine nummerische ID. Diese ID gleicht der klassischen Kontonummer wie bei einer Bank und ist deutlich leichter zu merken.</p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <i class="fas fa-hand-holding-usd" style="color: #000;"></i>
                        <h4>Schutz vor Double Spending</h3>
                        <p>TERA nutzt Proof-of-Work (PoW) um seine Transaktionen zu bestätigen. Transaktionen werden sequentiell durchgeführt. Bei jeder Transaktion werden die erforderlichen Beträge geprüft. Zum Zeitpunkt der „Abbuchung“ wird der Zähler "OperationID" hochgezählt. Jede nachfolgende Zahlungstransaktion muss die vorherige "OperationID"  besitzen, um zu verhindern, dass dieselbe Transaktion mehrmals angewendet wird.</p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey" style="height: 389px;">
                        <i class="fas fa-shield-alt" style="color: #000;"></i>
                        <h4>Schutz vor DDoS Attacken</h3>
                        <p>Unsere Entwickler haben zahlreiche Mechanismen zum Schutz vor DDoS Attacken entwickelt. Alle Daten und Guthaben sind in der TERA Blockchain professionell geschützt.
                        </p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey" style="height: 389px;">
                        <i class="fas fa-code" style="color: #000;"></i>
                        <h4>Entwicklung aus Leidenschaft</h4>
                        <p>TERA steht erst am Anfang und tagtäglich wird TERA weiterentwickelt. Dieses Projekt hat ein enormes Potential und unser Team und die Community helfen uns dabei das TERA jeden Tag ein kleines bisschen besser wird.</p>
                    </div>
                </div>
                <!-- /Key Feature -->
            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Key Features -->


    <!-- Specification -->
    <div id="technology" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header">
                    <h2 class="title md-down-left">Technologie</h2>
                </div>
                <!-- /Section header -->
                <dl class="spec-list">
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Max Supply</dt>
                        <dd class="spec-list__value">1,000,000,000</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Ausgabedatum</dt>
                        <dd class="spec-list__value">01. Juli 2018</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Konsens</dt>
                        <dd class="spec-list__value">POW</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Algorithmus</dt>
                        <dd class="spec-list__value">sha3, secp256k1</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Programmiersprache</dt>
                        <dd class="spec-list__value">JavaScript</dd>
                    </div>


                    <div class="spec-list__item">
                        <dt class="spec-list__title">Blockgröße</dt>
                        <dd class="spec-list__value">130 KB</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Pre-mine</dt>
                        <dd class="spec-list__value">5%</dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Programmquellen</dt>
                        <dd class="spec-list__value">
                            <a href="https://sourceforge.net/p/tera/code/ci/master/tree/" target="_blank">sourceforge.net</a>,
                            <a href="https://gitlab.com/terafoundation/tera" target="_blank">gitlab.com</a>
                        </dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Explorer</dt>
                        <dd class="spec-list__value">
                            <a href="https://terafoundation.org/explorer.html" target="_blank">terafoundation.org</a>
                        </dd>
                    </div>
                    <div class="spec-list__item">
                        <dt class="spec-list__title">Plattform</dt>
                        <dd class="spec-list__value">NodeJS</dd>
                    </div>
                </dl>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Specification -->

	<!-- Team -->
    <div id="team" class="section md-padding" >
        <h2 class="section-header text-center">
            TERA Produkt-Team
        </h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/vtools.jpg" alt="Yuriy Ivanov photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/vtools/?locale=en_US" target="_blank">
                            <h4 class="person-card__title">Yuriy Ivanov <span>| Vtools</span></h4>
                        </a>
                        <p class="person-card__position"><!-- Head of Architect Department  --></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Yuriy Ivanov</h4>
                            <em>Vtools</em>
                            <p class="add-info__position"><!-- Head of Architect Department  --></p>
                            <p class="add-info__desc">
                                <!-- Moscow State University of Instrument Engineering and Computer Science, department of Computer Science and computer facilities. -->
                            </p>

                            <a href="https://www.linkedin.com/in/vtools/?locale=en_US" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/Gennady.jpg" alt="Gennady Ivanov photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/gennady-ivanov-195a8590/" target="_blank">
                            <h4 class="person-card__title">Gennady Ivanov <span>| Gennady</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Gennady Ivanov</h4>
                            <em>Gennady</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/gennady-ivanov-195a8590/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/PsyArcus.jpg" alt="Evgeny Ustinovich photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/ustinovichevgeny/?locale=en_US" target="_blank">
                            <h4 class="person-card__title">Evgeny Ustinovich <span>| PsyArcus</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Evgeny Ustinovich</h4>
                            <em>PsyArcus</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/ustinovichevgeny/?locale=en_US" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/corey.jpg" alt="Yuan Chen photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/yuan-chen-331bbb145/" target="_blank">
                            <h4 class="person-card__title">Yuan Chen <span>| corey</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Yuan Chen</h4>
                            <em>corey</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/yuan-chen-331bbb145/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/Ryuu.jpg" alt="Long Vu Hoang photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/long-vu-hoang-2a480a89/" target="_blank">
                            <h4 class="person-card__title">Long Vu Hoang <span>| Ryuu</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Long Vu Hoang</h4>
                            <em>Ryuu</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/long-vu-hoang-2a480a89/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/mindsignals.jpg" alt="Ross Goldberg photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/ross-goldberg-5979bb/" target="_blank">
                            <h4 class="person-card__title">Ross Goldberg <span>| mindsignals</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Ross Goldberg</h4>
                            <em>mindsignals</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/ross-goldberg-5979bb/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/itutu.jpg" alt="Wei Li photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/wei-li-5b8800182/" target="_blank">
                            <h4 class="person-card__title">Wei Li <span>| itutu</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Wei Li</h4>
                            <em>itutu</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/wei-li-5b8800182/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/weiwutera.jpg" alt="Hongsang U photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/hongsang-u-18348616b/" target="_blank">
                            <h4 class="person-card__title">Hongsang U <span>| weiwutera</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Hongsang U</h4>
                            <em>weiwutera</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/hongsang-u-18348616b/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/groboro.jpg" alt="Timo Stutz photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/timo-stutz/" target="_blank">
                            <h4 class="person-card__title">Timo Stutz <span>| groboro</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Timo Stutz</h4>
                            <em>groboro</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/timo-stutz/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/Ken.jpg" alt="Ken Chan photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/ken-chan-170399183/" target="_blank">
                            <h4 class="person-card__title">Ken Chan <span>| Ken</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Ken Chan</h4>
                            <em>Ken</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/ken-chan-170399183/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/tina629.jpg" alt="Ken Chan photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/xiu-zhao/" target="_blank">
                            <h4 class="person-card__title">Xiu Zhao <span>| tina629</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Xiu Zhao</h4>
                            <em>tina629</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/xiu-zhao/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-lg-3 person-card person-card--empty">
                    <div class="person-card__wrapper">
                        <div class="line-v"></div>
                        <div class="square-dot"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Team -->


    <!-- Updates -->
    <div id="updates" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header">
                    <h2 class="title md-down-left">Updates</h2>
                </div>
                <!-- /Section header -->
                <div class="no-more-tables">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td valign="top">v. 0.897</td>
                                <td>The <a href="https://gitlab.com/terafoundation/tera/blob/master/Doc/Eng/API2.md" target="_blank" style="font-size: 14px;">API-2</a> is designed to make it easier to write third-party applications. Server-side cryptography and POW operations are performed. Therefore, it is not recommended for public access, because it is not protected from DDOS attacks. Use it if applications such as the exchange server are on the same private network.</td>
                            </tr>
                            <tr>
                                <td valign="top" width="100">v. 0.884</td>
                                <td><ul>                                        <li>Will be enhanced the behavior of the constants COREY_WATCH_DOG. If you will be the number 2:
"COREY_WATCH_DOG": 2, instead of an overload will just trim the blocks on the 5000, it will save time filling out the memory hashes. I. e. mining will practically go without interruption</li></ul></td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.880</td>
                                <td>
                                    <ul>
                                        <li>It contains API Protocol improvements for DApp.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.877</td>
                                <td>
                                    <ul>
                                        <li>Today will be an update. The update improves work of DApp.</li>
                                        <li>The update is optional — you can skip it.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.867</td>
                                <td>
                                    <ul>
                                        <li>Made Protocol support light-wallet, fixed a bug in validate download chains.</li>
                                        <li>The update is optional and can be skipped.</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p><a href="../changelog.html" style="font-size: 14px;">Komplettes Changelog</a></p>
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Updates -->

    <!-- Roadmap -->
    <div id="roadmap" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header">
                    <h2 class="title md-down-left">Roadmap</h2>
                </div>
                <!-- /Section header -->
                <div class="row flex wrap">
                    <!-- Roadmap Item -->
                    <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line done">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    Okt. 2018 
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            Start Smart Contracts
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->

                    <!-- Roadmap Item -->
                    <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line done">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    Nov. 2018 
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            DApp Forum 
                                        </li>
                                        <li>
                                            DApp Börse
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->

                     <!-- Roadmap Item -->
                     <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line done">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    Dez. 2018
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            Light-Wallet im Web
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->

                     <!-- Roadmap Item -->
                     <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line processing">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    Q1 2019
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            Android/iOS App (Wallet)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Roadmap -->

    <!-- Feedback -->
    <div id="feedback" class="section md-padding" style="display: none;">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header">
                    <h2 class="title md-down-left">Feedback</h2>
                </div>
                <!-- /Section header -->
                <form>
                    <input type="text" placeholder="Your Name..."  class="form-control" /><br />
                    <input type="text" placeholder="Your Name..."  class="form-control" /><br />
                    <textarea placeholder="Your Message..." class="form-control"></textarea><br />
                    <input type="submit" value="   Send   " class="btn" />
                </form>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Feedback -->
    <!-- LINKS -->
    <div id="links" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <!-- About Tera content -->
                <div class="col-md-12">
                    <div class="section-header">
                        <h2 class="title md-down-left">TERA links</h2>
                    </div>
                 <div class="col-md-4">
                    <div class="about bg-grey" style="text-align: justify;">

                        <h3><i class="fas fa-code" style="color: #000; font-size: 21px;"></i> FOR DEVELOPERS</h3>

                        1. <a href="https://sourceforge.net/p/tera/code/ci/master/tree/" target="_blank" style="font-size: 14px;">TERA Source Code</a>.<br />
                        2. <a href="https://docs.google.com/document/d/1PXVBbMKdpsAKPkO9UNB5B-LMwIDjylWoHvAAzzrXjvU/edit?usp=sharing/" target="_blank" style="font-size: 14px;">TERA DApp PAPER (ENG)</a>.<br />
                        3. <a href="https://docs.google.com/document/d/1SkD4yc_POaGRMJRC6yGkDfdJUuKbcyq3JpG0cBXeYGM/edit?usp=sharing/" target="_blank" style="font-size: 14px;">TERA DApp PAPER (RUS)</a>.<br />
                        4. <a href="https://docs.google.com/document/d/10yXAKxaU7YgrQnbdXu_L7WWovUoRtdJwo3tXXaGZGSQ/edit?usp=sharing/" target="_blank" style="font-size: 14px;">TERA DApp FAQ</a>.<br />
                        5. <a href="https://sourceforge.net/p/tera/code/ci/master/tree/Doc/Eng/API.md" target="_blank" style="font-size: 14px;">TERA API</a>.<br />
                        е. <a href="https://gitlab.com/terafoundation/tera/blob/master/Doc/Eng/API2.md" target="_blank" style="font-size: 14px;">TERA API-2 (for Exchanges)</a>.<br />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey" style="text-align: justify;">

                        <h3><i class="fas fa-dollar-sign" style="color: #000; font-size: 21px;"></i> FOR INVESTORS</h3>

                        1. <a href="https://www.qbtc.ink/trade?symbol=TERA_BTC" target="_blank" style="font-size: 14px;">TERA on QBTC Exchange</a>.<br />
                        2. <a href="https://www.bitalong.com/trade/index/market/tera_usdt/" target="_blank" style="font-size: 14px;">TERA on Bitalong Exchange</a>.<br />
                        3. <a href="https://bitmesh.com/exchange?market=btc_tera#/" target="_blank" style="font-size: 14px;">TERA on Bitmesh Exchange</a>.<br />
                        4. <a href="https://chaoex-en-us.udesk.cn/hc/articles/83487" target="_blank" style="font-size: 14px;">TERA on CHAOEX Exchange</a>.<br />
                        5. <a href="https://www.citex.co.kr/#/trade/2/37" target="_blank" style="font-size: 14px;">TERA on CITEX Exchange</a>.<br />
                        6. <a href="/#roadmap" target="_blank" style="font-size: 14px;">TERA Roadmap</a>.
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey" style="text-align: justify;">

                        <h3><i class="fas fa-server" style="color: #000; font-size: 21px;"></i> FOR MINERS</h3>

                        1. <a href="https://sourceforge.net/p/tera/code/ci/master/tree/README.md" target="_blank" style="font-size: 14px;">TERA Mining Documentation</a>.<br />
                        2. <a href="https://docs.google.com/document/d/18DtASGhrbRwXCAkQR1hQG0lVdrStp4CgA-pd6hicwfo/edit?usp=sharing/" target="_blank" style="font-size: 14px;">TERA HAASH</a>.
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey" style="text-align: justify;">

                        <h3><i class="fas fa-info-circle" style="color: #000; font-size: 21px;"></i> TERA INFORMATION</h3>

                        1. <a href="https://terafoundation.org/" target="_blank" style="font-size: 14px;">TERA Website</a>.<br />
                        2. <a href="https://terafoundation.org/explorer.html" target="_blank" style="font-size: 14px;">TERA EXPLORER</a>.<br />
                        3. <a href="https://terafoundation.org/web-wallet.html" target="_blank" style="font-size: 14px;">TERA WALLET</a>.<br />
                        4. <a href="https://terafoundation.org/map.html" target="_blank" style="font-size: 14px;">TERA NETWORK MAP</a>.<br />
                        5. <a href="https://terafoundation.org/files/TERA_WP_EN.pdf" target="_blank" style="font-size: 14px;">TERA WHITE PAPER (EN)</a>.<br />
                        6. <a href="https://terafoundation.org/files/TERA_WP_RU.pdf" target="_blank" style="font-size: 14px;">TERA WHITE PAPER (RU)</a>.<br />
                        7. <a href="https://terafoundation.org/files/TERA_WP_DE.pdf" target="_blank" style="font-size: 14px;">TERA WHITE PAPER (DE)</a>.<br />
                        8. <a href="https://sourceforge.net/p/tera/code/ci/master/tree/Doc/Chinese/WP_chinese.pdf?format=raw" target="_blank" style="font-size: 14px;">TERA WHITE PAPER (CN)</a>.<br />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey" style="text-align: justify;">

                        <h3><i class="fas fa-globe" style="color: #000; font-size: 21px;"></i> TERA COMMUNITY</h3>

                        1. <a href="https://bitcointalk.org/index.php?topic=4573801.0" target="_blank" style="font-size: 14px;">TERA on BitcoinTalk</a>.<br />
                        2. <a href="https://twitter.com/terafoundation" target="_blank" style="font-size: 14px;">TERA on Twitter</a>.<br />
                        3. <a href="https://www.reddit.com/user/Terafoundation" target="_blank" style="font-size: 14px;">TERA on Reddit</a>.<br />
                        4. <a href="https://discord.gg/CvwrbeG" target="_blank" style="font-size: 14px;">TERA on Discord</a>.<br />
                        5. <a href="https://web.telegram.org/#/im?p=@terafoundation" target="_blank" style="font-size: 14px;">TERA Telegram Chanel</a>.<br />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey" style="text-align: justify;">

                        <h3><i class="fas fa-handshake" style="color: #000; font-size: 21px;"></i> OTHER</h3>

                        1. <a href="http://freetimes.cc/fmessenger/" target="_blank" style="font-size: 14px;">FMessenger</a>.
                    </div>
                </div>
                <!-- /About Tera content -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->

    </div></div> 

    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-md-12">

                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="/de/"><img src="../PIC/Tera_logo.svg" alt="logo"></a>
                    </div>
                    <!-- /footer logo -->
                    <!-- footer links -->
                    <div class="footer-link">
                        <span class="footer-link-item">
                            <a href="/explorer.html">EXPLORER</a>
                        </span>
                        <span class="footer-link-item">
                            <a href="/web-wallet.html">WALLET</a>
                        </span>
                        <span class="footer-link-item">
                            <a href="/map.html">NETZWERK</a>
                        </span></div>
                    <!-- /footer links -->

                    <!-- footer follow -->
                    {{File=./SITE/footer-follow.html}}
                    <!-- /footer follow -->
                     <p align="center">
                        E-Mail des Projektgründers: <a href="mailto: progr76@gmail.com" style="font-size: 14px;">progr76@gmail.com</a>.
                    </p>       
                      <center><a href="/terms-and-conditions.html" style="font-size: 14px;">Terms and Conditions</a> | <a href="/privacy-policy.html" style="font-size: 14px;">Privacy Policy</a><br /><br />TERA, 2019.</center>
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->

    <!-- Back to top -->
    <!-- <div id="back-to-top"></div> -->
    <!-- /Back to top -->

    <!-- Preloader -->
    <!--<div id="preloader">-->
        <!--<div class="preloader">-->
            <!--<span></span>-->
            <!--<span></span>-->
            <!--<span></span>-->
            <!--<span></span>-->
        <!--</div>-->
    <!--</div>-->
    <!-- /Preloader -->

    <!-- jQuery Plugins -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/main.min.js"></script>
    <script type="text/javascript" src="../js/cookies.js"></script>

    <div id="cookiesmessage" style="display: none;">
        This site uses cookies. You need to read the <a href="privacy-policy.html" style="font-size: 14px;" target="_blank">Privacy Policy</a> and click "<a href="#" onclick="setCookie('teracookies','tera_agree', 1); document.getElementById('cookiesmessage').style.display = 'none';" id="i_agree"><strong>I agree</strong></a>" to continue.
    </div>

</body>

</html>
