<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta data-n-head="true" data-hid="description" name="description" content="Tera - Fast block generation, High transaction throughput, User-friendly">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>TERA Foundation: 变更日志</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="../CSS/bootstrap.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../CSS/style.min.css" />

    <style>
        @media all
        {
            .nav .open>a, .nav .open>a:focus, .nav .open>a:hover
            {
                background-color: rgba(250, 250, 250, .1);
                border-color: #337ab7;
            }

            /*.dropdown2 li*/
            /*{*/
                /*background-color: rgba(250, 250, 250, .01);*/
                /*opacity: 1;*/
            /*}*/
            /*.dropdown2 li a*/
            /*{*/
                /*background-color: rgba(250, 250, 250, .01);*/
                /*opacity: 1;*/
            /*}*/



            #nav.nav-transparent:not(.fixed-nav) .main-nav>li>a
            {
                color:white;
            }
        }

    </style>

    {{File=./SITE/metrika.html}}

</head>

<body>
	<!-- Header -->
	<header id="home" style="background: #1C1D21; height: 80px;">

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="index.html">
							<img class="logo" src="../PIC/Tera_Text_gray.svg" alt="logo">
							<img class="logo-alt" src="../PIC/Tera_Text.svg" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
 {{File=./SITE/cn/header.html}}
				<!-- /Main navigation -->

			</div>
		</nav>






		<!-- /Nav -->

		<!-- Social Header -->
		<div class="home-wrapper">
			<div class="container">

                <!-- Row -->
                <div class="row">
    
    
                </div>
                <!-- /Row -->
    
            </div>
		</div>
		<!-- /About Tera -->

	</header>
    <!-- /Header -->

	<!-- About Tera -->
	<div id="about" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">
				<!-- About Tera content -->
				<div class="col-md-12">
					<div class="section-header text-center">
						<h2 class="title">变更日志</h2>
					</div>
                  <div class="no-more-tables">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td valign="top">v. 0.897</td>
                                <td><a href="https://gitlab.com/terafoundation/tera/blob/master/Doc/Eng/API2.md" target="_blank" style="font-size: 14px;">API-2</a>  旨在使编写第三方应用程序更加容易。执行服务器端加密和POW操作。因此，不建议公开访问，因为它不防御DDOS攻击。如果应用程序（如Exchange服务器）位于同一专用网络上，请使用它。</td>
                            </tr>
                            <tr>
                                <td valign="top" width="100">v. 0.884</td>
                                <td><ul>                                        <li>增强参数COREY_WATCH_DOG的行为。如果您设置该参数数值为2，替代重启仅仅回溯5000个区块，它将节省填写内存散列的时间。也就是说挖矿几乎不被中断。</li></ul></td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.880</td>
                                <td>
                                    <ul>
                                        <li>它包含对DAPP的API协议改进。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.867</td>
                                <td>
                                    <ul>
                                        <li>使协议支持轻钱包，修复了验证下载链中的错误。</li>
                                        <li>更新是可选的，可以跳过。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.811</td>
                                <td>
                                    <ul>
                                        <li>如果您设置参数：<br /><br />
"WATCHDOG_BADACCOUNT": 1<br /><br />

然后，“BAD ACCOUNT has”错误检查机制将被启动。当累计60个区块时，自动切断区块链，回溯5000个区块。该方法理论上可以消除该错误，但是不够精准。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.783</td>
                                <td>
                                    <ul>
                                        <li>修复历史记录和DAPP事件错误。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.753</td>
                                <td>
                                    <ul>
                                        <li>更新部分完成：<br />
1. 半数节点已完成更新<br />
2. 后半部分执行事务覆盖过程（这需要很长时间）。要加快速度，您可以从Torrent下载db文件夹。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.727</td>
                                <td>
                                    <ul>
                                        <li>修复小错误。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.719</td>
                                <td>
                                    <ul>
                                        <li>该更新对于网络（包含世界各个地区的节点）的稳定是必须的。充分考虑到时间差异，该算法校正当前区块的当前高度。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.718</td>
                                <td>
                                    <ul>
                                        <li>算法共识回退到最初水平（0.703）。新共识的实验失败了。我会考虑。感谢您们的耐心。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.703</td>
                                <td>
                                    <ul>
                                        <li>修正DAPP外观。<br />
当关闭统计数据日志时，减少内存占用。<br />

该更新不包含区块链交流协议的任何改变，可以被忽略。<br /></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.685</td>
                                <td>
                                    <ul>
                                        <li>该更新包含2个挖矿参数（位于config栏，constant按钮）<br /> <br />
   "COUNT_MINING_CPU": 0, <br />
   "SIZE_MINING_MEMORY": 0, <br /> <br />

如果设置为COUNT_MINING_CPU，启动指定数量的挖掘进程，则可以设置多于或少于有物理核心。 <br /> <br />

如果设置了值SIZE_MINING_MEMORY，则将此值分配给所有进程（指定的数字除以进程数）。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.672</td>
                                <td>
                                    <ul>
<li>修复了哈希表计算错误（我们的账户）</li>
                                         <li>从10195000高度区块，每个区块哈希计算发生变化。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.671</td>
                                <td>
                                    <ul>
                                        <li>当前更新0.671包含一个改进的矿工。交换协议没有改变。仅在您想要改善采矿时才推荐使用。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.666</td>
                                <td>
                                    <ul>
<li>添加了自动升级按钮（靠近挖矿按钮）。如果升级模式打开，当新版本加载到网络时，该按钮变成橙色并且带有斜杠的版本号出现于窗口的标题栏（例如：0.661/663）。添加发送货币到公共地址的功能。在这种模式下，新账户会依据该收据设置。支付目的的第一行是用作命名。如此方式创建账户将被收费。增加无限创立账户的功能，但是有税费。现在该费用是10TERA，但是随着TERA的普及，该费用会降低。该费用用于返回账户0。为此，在创建新帐户时，请使用“添加到付款列表”按钮。在“发送”选项卡上单击它会创建10 Tera的付款交易以及创建帐户的订单。必须手动发送 — 按“发送”按钮。<br /></td></tr><tr>
                                <td valign="top">v. 0.555</td>
                                <td>
                                    <ul>
                                        <li>修复了POW进程中的问题。<br />
更多算力。</li> 
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.553</td>
                                <td>
                                    <ul>
                                        <li>修复了更新版本安装的小错误（以前一直安装，即使禁用了自动更新）。</li>
                                    
                                        <li>块编号7000000以后，在创建新帐户时引入了针对DDOS攻击的保护。将仅允许以有限数量创建新帐户。对于未来创建更多账户，将转移标准费用。
我们计划在不指定帐户的情况下添加对钱包地址（公钥）转帐的支持。在这种情况下，将自动创建一个新帐户，并为其创建收取少量费用（用于DDOS保护）。账户的普通资金转移交易不需要收费。
</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.545</td>
                                <td>
                                    <ul>
                                        <li>充分利用内存和CPU。 <br />
更多算力。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.542</td>
                                <td>
                                    <ul>
                                        <li>更多内存利用。更多算力。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.501</td>
                                <td>
                                    <ul>
                                        <li>修复小BUG。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.517</td>
                                <td>
                                    <ul>
                                        <li>安全性的微小变化。对于钱包的有限Web访问，您可以在常量“HTTP_IP_CONNECT”中设置允许访问的计算机的外部IP地址。
示例：
<br />
"HTTP_IP_CONNECT": "111.222.220.230", <br />
注意: <br />
始终允许通过本地地址127.0.0.1访问钱包。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.501</td>
                                <td>
                                    <ul>
                                        <li>修复小BUG。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.452</td>
                                <td>
                                    <ul>
                                        <li>网络算力正在增加。目前它的数值是2^27.6 = 200Mh/s</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.450</td>
                                <td>
                                    <ul>
                                        <li>减少流量。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.418</td>
                                <td>
                                    <ul>
                                        <li>候选表格2推送</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.366</td>
                                <td>
                                    <ul>
                                        <li>界面的微小更改。<br /><br />
UTILITY部分目前有如下按钮。<br />
1. Rewrite transactions<br />
2. Truncate chain<br />
3. Clear DataBase<br /><br />
前2个要求您输入参数。链的深度从当前区块算起。最后一点-完全清除数据库，不会影响钱包和服务器参数的设置。类似于删除DATA/DB文件夹。
</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.214</td>
                                <td>
                                    <ul>
                                        <li>对于网络，所有节点上的时间是相同的非常重要。否则，数据包的交换变得不可能。在特殊算法的帮助下，它会自动同步，并且总体方向等于UTC时间。如果您确定服务器具有准确的时间同步，则可以禁用自动同步（但由您负责）。这是在常量中完成的，设置值：“AUTO_COORECT_TIME”：0。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.171</td>
                                <td>
                                    <ul>
                                        <li>发布带有防御诈骗的第二个版本。可在自动更新模式下使用。</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td valign="top">v. 0.169</td>
                                <td>
                                    <ul>
                                        <li>启用禁止列表。</li>
                                    </ul>
                                </td>
                            </tr> 
                            <tr>
                                <td valign="top">v. 0.162</td>
                                <td>
                                    <ul>
                                        <li>如果未指定http远程访问端口的密码，则仅允许从本地地址127.0.0.1进行访问。</li>
                                    </ul>
                                </td>
                            </tr> 
                            <tr>
                                <td valign="top">v. 0.156</td>
                                <td>
                                    <ul>
                                        <li>添加了对挖掘中涉及的进程的自动跟踪。如果进程失去与主进程的连接，它们将被销毁。</li>
                                    </ul>
                                </td>
                            </tr>  
                            <tr>
                                <td valign="top">v. 0.155</td>
                                <td>
                                    <ul>
                                        <li>您可以在程序安装期间从命令行设置http密码，例如：node set httpport:8080 password:123。</li>
                                    </ul>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
				</div>
				<!-- /About Tera content -->
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->

	</div>
	<!-- /About Tera -->



	<!-- Footer -->
 {{File=./SITE/cn/footer.html}}