

    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-md-12">

                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="/cn/"><img src="../PIC/Tera_logo.svg" alt="logo"></a>
                    </div>
                    <!-- /footer logo -->
                    <!-- footer links -->
                    <div class="footer-link">
                        <span class="footer-link-item">
                            <a href="/explorer.html">浏览器</a>
                        </span>
                        <span class="footer-link-item">
                            <a href="/web-wallet.html">钱包</a>
                        </span>
                        <span class="footer-link-item">
                            <a href="/map.html">节点地图</a>
                        </span></div>
                    <!-- /footer links -->

                    <!-- footer follow -->
                    {{File=./SITE/footer-follow.html}}
                    <!-- /footer follow -->
                      <p align="center">
                        项目创始人电子邮件 <a href="mailto: progr76@gmail.com" style="font-size: 14px;">progr76@gmail.com</a>.
                      </p>      
                      <center><a href="/terms-and-conditions.html" style="font-size: 14px;">Terms and Conditions</a> | <a href="/privacy-policy.html" style="font-size: 14px;">Privacy Policy</a><br /><br />TERA, 2019.</center>
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->

    <!-- Back to top -->
    <!-- <div id="back-to-top"></div> -->
    <!-- /Back to top -->

    <!-- Preloader -->
    <!--<div id="preloader">-->
        <!--<div class="preloader">-->
            <!--<span></span>-->
            <!--<span></span>-->
            <!--<span></span>-->
            <!--<span></span>-->
        <!--</div>-->
    <!--</div>-->
    <!-- /Preloader -->

    <!-- jQuery Plugins -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/main.min.js"></script>
    <script type="text/javascript" src="../js/cookies.js"></script>

    <div id="cookiesmessage" style="display: none;">
        This site uses cookies. You need to read the <a href="privacy-policy.html" style="font-size: 14px;" target="_blank">Privacy Policy</a> and click "<a href="#" onclick="setCookie('teracookies','tera_agree', 1); document.getElementById('cookiesmessage').style.display = 'none';" id="i_agree"><strong>I agree</strong></a>" to continue.
    </div>

</body>

</html>
