<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta data-n-head="true" data-hid="description" name="description" content="Tera - Fast block generation, High transaction throughput, User-friendly">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>TERA Foundation</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../CSS/bootstrap.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../CSS/style.min.css" />

    <style>
        @media all
        {
            .nav .open>a, .nav .open>a:focus, .nav .open>a:hover
            {
                background-color: rgba(250, 250, 250, .1);
                border-color: #337ab7;
            }

            /*.dropdown2 li*/
            /*{*/
                /*background-color: rgba(250, 250, 250, .01);*/
                /*opacity: 1;*/
            /*}*/
            /*.dropdown2 li a*/
            /*{*/
                /*background-color: rgba(250, 250, 250, .01);*/
                /*opacity: 1;*/
            /*}*/



            #nav.nav-transparent:not(.fixed-nav) .main-nav>li>a
            {
                color:white;
            }
        }

    </style>

    {{File=./SITE/metrika.html}}

</head>

<body>
    <!-- Header -->
    <header id="home">
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('../PIC/Tera_Web_BG.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->


        <!-- Nav -->
        <nav id="nav" class="navbar nav-transparent">
            <div class="container">

                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="/cn/">
                            <img class="logo" src="../PIC/Tera_Text_gray.svg" alt="logo">
                            <img class="logo-alt" src="../PIC/Tera_Text.svg" alt="logo">
                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                {{File=./SITE/cn/header.html}}
                <!-- /Main navigation -->

            </div>
        </nav>






        <!-- /Nav -->

        <!-- Social Header -->
        <div class="home-wrapper">
            <div class="container">

                <!-- Row -->
                <div class="row">
    
                    <div class="col-md-12">

                        <!-- Social follow -->
                        {{File=./SITE/footer-follow.html}}
                        <!-- /Social follow -->
    
                    </div>
    
                </div>
                <!-- /Row -->
    
            </div>
        </div>
        <!-- /About Tera -->

    </header>
    <!-- /Header -->

    <!-- About Tera -->
    <div id="about" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- About Tera content -->
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2 class="title">关于 TERA（泰瑞）</h2>
                    </div>
                    <p style="text-align: center;">
                        <img src="../PIC/TERA_logo-03.png" align="center" width="240" />
                    </p>
                    <p style="text-align: justify; font-size: 15px;">
                        非常荣幸邀请您加入TERA挖矿。现有加密货币在以下方面存在问题：中心化、交易吞吐量、交易速度、确认时间、交易税费以及一般可用性、难以整合到现有支付系统和金融系统。TERA提供了针对以上问题的解决方案。
我们已经成功创建了区块链，该区块链1秒区块、8秒确认、零转账费用。除此之外，Tera区块链能够每秒处理1000笔交易，同时保留所有受赞誉的区块链功能，为进一步发展以及与现有基础架构和新出现的技术无缝集成带来巨大的可能性。

                    </p>
                    <p style="text-align: justify; font-size: 15px;">
                       传统区块链的节点非有序排列。各种节点之间随机链接无法保障区块在所有节点中快速传输。在TERA中，节点自发组成有序的通信方式。

                    </p>
                    <p style="text-align: center; font-size: 15px;">                <!-- Key Feature -->
                        <div class="col-md-6">
                            <div class="about bg-grey">
                                <h4>传统区块链</h3>
                                <p><img src="../PIC/sbch.png" /></p>
                            </div>
                        </div>
                        <!-- /Key Feature -->

                        <!-- Key Feature -->
                        <div class="col-md-6">
                            <div class="about bg-grey" style="height: 315px;">
                                <h4>TERA区块链</h3>
                                <p><img src="../PIC/tbch.png" /></p>
                            </div>
                        </div>
                        <!-- /Key Feature -->
                    </p>
                </div>
                <!-- /About Tera content -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->

    </div>
    <!-- /About Tera -->

    <!-- Key Features -->
    <div id="features" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">特征</h2>
                </div>
                <!-- /Section header -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <i class="fab fa-hubspot" style="color: #000;"></i>
                        <h4>快速区块生成</h3>
                        <p>在去中心化区块链中，TERA有最快的区块生成时间。（特别指出：POS以及类似并非去中心化。）1秒区块，8秒确认，您的交易接近即时响应。</p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <i class="fas fa-boxes" style="color: #000;"></i>
                        <h4>高交易吞吐量</h3>
                        <p>TERA区块链能够每秒处理1000笔交易，同时保留所有受赞誉的区块链功能，为进一步发展以及与现有基础架构和新出现的技术无缝集成带来巨大的可能性。
                        </p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey" style="height: 300px;">
                        <i class="fas fa-university" style="color: #000;"></i>
                        <h4>用户友好</h4>
                        <p>TERA存于类似银行的账户。该系统确保资产安全和资金便于管理。</p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <i class="fas fa-hand-holding-usd" style="color: #000;"></i>
                        <h4>防御双花攻击</h3>
                        <p>TERA 使用具有POW共识的区块链。这允许所有事务依次排列，事务也按顺序执行。从帐户中提取时，会检查必要的金额。注销时，计数器“operationID”递增。每个后续付款交易必须具有后继的“operationID”编号，用以防止同一交易被多次应用。</p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey" style="height: 300px;">
                        <i class="fas fa-shield-alt" style="color: #000;"></i>
                        <h4>防御DDOS攻击</h3>
                        <p>专业的开发人员创建一种独特的算法，以保护系统免受DDOS攻击和各种类型的入侵。所有数据和资金都受到安全保护。
                        </p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey" style="height: 300px;">
                        <i class="fas fa-code" style="color: #000;"></i>
                        <h4>渴求长久发展</h4>
                        <p>每天TERA开发尝试与时俱进，专门人员经常更新和推进项目。</p>
                    </div>
                </div>
                <!-- /Key Feature -->
            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Key Features -->

	<!-- Team -->
    <div id="team" class="section md-padding" >
        <h2 class="section-header text-center">
            TERA 产品团队
        </h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/vtools.jpg" alt="Yuriy Ivanov photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/vtools/?locale=en_US" target="_blank">
                            <h4 class="person-card__title">Yuriy Ivanov <span>| Vtools</span></h4>
                        </a>
                        <p class="person-card__position"><!-- Head of Architect Department  --></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Yuriy Ivanov</h4>
                            <em>Vtools</em>
                            <p class="add-info__position"><!-- Head of Architect Department  --></p>
                            <p class="add-info__desc">
                                <!-- Moscow State University of Instrument Engineering and Computer Science, department of Computer Science and computer facilities. -->
                            </p>

                            <a href="https://www.linkedin.com/in/vtools/?locale=en_US" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/Gennady.jpg" alt="Gennady Ivanov photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/gennady-ivanov-195a8590/" target="_blank">
                            <h4 class="person-card__title">Gennady Ivanov <span>| Gennady</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Gennady Ivanov</h4>
                            <em>Gennady</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/gennady-ivanov-195a8590/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/PsyArcus.jpg" alt="Evgeny Ustinovich photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/ustinovichevgeny/?locale=en_US" target="_blank">
                            <h4 class="person-card__title">Evgeny Ustinovich <span>| PsyArcus</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Evgeny Ustinovich</h4>
                            <em>PsyArcus</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/ustinovichevgeny/?locale=en_US" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/corey.jpg" alt="Yuan Chen photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/yuan-chen-331bbb145/" target="_blank">
                            <h4 class="person-card__title">Yuan Chen <span>| corey</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Yuan Chen</h4>
                            <em>corey</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/yuan-chen-331bbb145/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/Ryuu.jpg" alt="Long Vu Hoang photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/long-vu-hoang-2a480a89/" target="_blank">
                            <h4 class="person-card__title">Long Vu Hoang <span>| Ryuu</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Long Vu Hoang</h4>
                            <em>Ryuu</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/long-vu-hoang-2a480a89/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/mindsignals.jpg" alt="Ross Goldberg photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/ross-goldberg-5979bb/" target="_blank">
                            <h4 class="person-card__title">Ross Goldberg <span>| mindsignals</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Ross Goldberg</h4>
                            <em>mindsignals</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/ross-goldberg-5979bb/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/itutu.jpg" alt="Wei Li photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/wei-li-5b8800182/" target="_blank">
                            <h4 class="person-card__title">Wei Li <span>| itutu</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Wei Li</h4>
                            <em>itutu</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/wei-li-5b8800182/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/weiwutera.jpg" alt="Hongsang U photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/hongsang-u-18348616b/" target="_blank">
                            <h4 class="person-card__title">Hongsang U <span>| weiwutera</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Hongsang U</h4>
                            <em>weiwutera</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/hongsang-u-18348616b/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/groboro.jpg" alt="Timo Stutz photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/timo-stutz/" target="_blank">
                            <h4 class="person-card__title">Timo Stutz <span>| groboro</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Timo Stutz</h4>
                            <em>groboro</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/timo-stutz/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/Ken.jpg" alt="Ken Chan photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/ken-chan-170399183/" target="_blank">
                            <h4 class="person-card__title">Ken Chan <span>| Ken</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Ken Chan</h4>
                            <em>Ken</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/ken-chan-170399183/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 person-card">
                    <div class="person-card__wrapper">
                        <div class="person-card__img-wrap">
                            <img src="../PIC/tina629.jpg" alt="Ken Chan photo" class="person-card__img" width="260" height="260">
                        </div>
                        <a href="https://www.linkedin.com/in/xiu-zhao/" target="_blank">
                            <h4 class="person-card__title">Xiu Zhao <span>| tina629</span></h4>
                        </a>
                        <p class="person-card__position"></p>

                        <div class="person-card__add-info add-info">
                            <h4 class="add-info__name">Xiu Zhao</h4>
                            <em>tina629</em>
                            <p class="add-info__position"></p>
                            <p class="add-info__desc"></p>

                            <a href="https://www.linkedin.com/in/xiu-zhao/" class="add-info__linkedin" target="_blank">
                                <img src="../PIC/linkedin-logo.svg" alt="Linkedin logo" width="30" height="30">
                                <span>View profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-lg-3 person-card person-card--empty">
                    <div class="person-card__wrapper">
                        <div class="line-v"></div>
                        <div class="square-dot"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Team -->
    
    
    <!-- Specification -->
    <div id="technology" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header">
                    <h2 class="title md-down-left">技术参数</h2>
                </div>
                <!-- /Section header -->
                <div class="no-more-tables">
                    <table class="table table-bordered">
                        <thead class="cf">
                            <tr>
                                <th>最大供应</th>
                                <th>发行日期</th>
                                <th>共识协议</th>
                                <th>加密</th>
                                <th>智能合约语言</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1,000,000,000</td>
                                <td>2018/07/01</td>
                                <td>POW</td>
                                <td>sha3, secp256k1</td>
                                <td>Javascript</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead class="cf">
                            <tr>
                                <th>区块尺寸</th>
                                <th>预挖</th>
                                <th>源代码</th>
                                <th>浏览器</th>
                                <th>平台</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>120 KB</td>
                                <td>5%</td>
                                <td>
                                    <a href="https://sourceforge.net/p/tera/code/ci/master/tree/" target="_blank" style="font-size: 14px;">sourceforge.net</a>,
                                    <a href="https://gitlab.com/terafoundation/tera" target="_blank" style="font-size: 14px;">gitlab.com</a>
                                </td>
                                <td>
                                    <a href="https://terafoundation.org/explorer.html" target="_blank" style="font-size: 14px;">terafoundation.org</a>
                                </td>
                                <td>NodeJS</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Specification -->

    <!-- Updates -->
    <div id="updates" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header">
                    <h2 class="title md-down-left">更新</h2>
                </div>
                <!-- /Section header -->
                <div class="no-more-tables">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td valign="top">v. 0.897</td>
                                <td><a href="https://gitlab.com/terafoundation/tera/blob/master/Doc/Eng/API2.md" target="_blank" style="font-size: 14px;">API-2</a>  旨在使编写第三方应用程序更加容易。执行服务器端加密和POW操作。因此，不建议公开访问，因为它不防御DDOS攻击。如果应用程序（如Exchange服务器）位于同一专用网络上，请使用它。</td>
                            </tr>
                            <tr>
                                <td valign="top" width="100">v. 0.884</td>
                                <td><ul>                                        <li>增强参数COREY_WATCH_DOG的行为。如果您设置该参数数值为2，替代重启仅仅回溯5000个区块，它将节省填写内存散列的时间。也就是说挖矿几乎不被中断。</li></ul></td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.880</td>
                                <td>
                                    <ul>
                                        <li>它包含对DAPP的API协议改进。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.867</td>
                                <td>
                                    <ul>
                                        <li>使协议支持轻钱包，修复了验证下载链中的错误。</li>
                                        <li>更新是可选的，可以跳过。</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">v. 0.811</td>
                                <td>
                                    <ul>
                                        <li>如果您设置参数：<br /><br />
"WATCHDOG_BADACCOUNT": 1<br /><br />

然后，“BAD ACCOUNT has”错误检查机制将被启动。当累计60个区块时，自动切断区块链，回溯5000个区块。该方法理论上可以消除该错误，但是不够精准。</li> 
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p><a href="/changelog.html" style="font-size: 14px;">所有变更日志</a></p>
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Updates -->

    <!-- Roadmap -->
    <div id="roadmap" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header">
                    <h2 class="title md-down-left">路线图</h2>
                </div>
                <!-- /Section header -->
                <div class="row flex wrap">
                    <!-- Roadmap Item -->
                    <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line done">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    2018年10月
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            智能合约
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->

                    <!-- Roadmap Item -->
                    <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line done">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    2018年11月
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            去中心化论坛
                                        </li>
                                        <li>
                                            去中心化交易所
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->

                     <!-- Roadmap Item -->
                     <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line done">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                    2018年12月
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            网页钱包
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->

                     <!-- Roadmap Item -->
                     <div class="flex col-sm-12 col-md-3">
                        <div class="roadmap-item">
                            <div class="roadmap-item__line processing">
                                <span class="dot"></span>
                            </div>
                            <div class="roadmap-item__body">
                                <div class="roadmap-item__date">
                                   2019年第一季度
                                </div>
                                <div class="roadmap-item__info">
                                    <ul>
                                        <li>
                                            安卓/IOS钱包
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Roadmap Item -->
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Roadmap -->
    <!-- LINKS -->
    <div id="links" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <!-- About Tera content -->
                <div class="col-md-12">
                    <div class="section-header">
                        <h2 class="title md-down-left">TERA links</h2>
                    </div>
                 <div class="col-md-4">
                    <div class="about bg-grey" style="text-align: justify;">

                        <h3><i class="fas fa-code" style="color: #000; font-size: 21px;"></i> FOR DEVELOPERS</h3>

                        1. <a href="https://sourceforge.net/p/tera/code/ci/master/tree/" target="_blank" style="font-size: 14px;">TERA Source Code</a>.<br />
                        2. <a href="https://docs.google.com/document/d/1PXVBbMKdpsAKPkO9UNB5B-LMwIDjylWoHvAAzzrXjvU/edit?usp=sharing/" target="_blank" style="font-size: 14px;">TERA DApp PAPER (ENG)</a>.<br />
                        3. <a href="https://docs.google.com/document/d/1SkD4yc_POaGRMJRC6yGkDfdJUuKbcyq3JpG0cBXeYGM/edit?usp=sharing/" target="_blank" style="font-size: 14px;">TERA DApp PAPER (RUS)</a>.<br />
                        4. <a href="https://docs.google.com/document/d/10yXAKxaU7YgrQnbdXu_L7WWovUoRtdJwo3tXXaGZGSQ/edit?usp=sharing/" target="_blank" style="font-size: 14px;">TERA DApp FAQ</a>.<br />
                        5. <a href="https://sourceforge.net/p/tera/code/ci/master/tree/Doc/Eng/API.md" target="_blank" style="font-size: 14px;">TERA API</a>.<br />
                        е. <a href="https://gitlab.com/terafoundation/tera/blob/master/Doc/Eng/API2.md" target="_blank" style="font-size: 14px;">TERA API-2 (for Exchanges)</a>.<br />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey" style="text-align: justify;">

                        <h3><i class="fas fa-dollar-sign" style="color: #000; font-size: 21px;"></i> FOR INVESTORS</h3>

                        1. <a href="https://www.qbtc.ink/trade?symbol=TERA_BTC" target="_blank" style="font-size: 14px;">TERA on QBTC Exchange</a>.<br />
                        2. <a href="https://www.bitalong.com/trade/index/market/tera_usdt/" target="_blank" style="font-size: 14px;">TERA on Bitalong Exchange</a>.<br />
                        3. <a href="https://bitmesh.com/exchange?market=btc_tera#/" target="_blank" style="font-size: 14px;">TERA on Bitmesh Exchange</a>.<br />
                        4. <a href="https://chaoex-en-us.udesk.cn/hc/articles/83487" target="_blank" style="font-size: 14px;">TERA on CHAOEX Exchange</a>.<br />
                        5. <a href="https://www.citex.co.kr/#/trade/2/37" target="_blank" style="font-size: 14px;">TERA on CITEX Exchange</a>.<br />
                        6. <a href="/#roadmap" target="_blank" style="font-size: 14px;">TERA Roadmap</a>.
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey" style="text-align: justify;">

                        <h3><i class="fas fa-server" style="color: #000; font-size: 21px;"></i> FOR MINERS</h3>

                        1. <a href="https://sourceforge.net/p/tera/code/ci/master/tree/README.md" target="_blank" style="font-size: 14px;">TERA Mining Documentation</a>.<br />
                        2. <a href="https://docs.google.com/document/d/18DtASGhrbRwXCAkQR1hQG0lVdrStp4CgA-pd6hicwfo/edit?usp=sharing/" target="_blank" style="font-size: 14px;">TERA HAASH</a>.
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey" style="text-align: justify;">

                        <h3><i class="fas fa-info-circle" style="color: #000; font-size: 21px;"></i> TERA INFORMATION</h3>

                        1. <a href="https://terafoundation.org/" target="_blank" style="font-size: 14px;">TERA Website</a>.<br />
                        2. <a href="https://terafoundation.org/explorer.html" target="_blank" style="font-size: 14px;">TERA EXPLORER</a>.<br />
                        3. <a href="https://terafoundation.org/web-wallet.html" target="_blank" style="font-size: 14px;">TERA WALLET</a>.<br />
                        4. <a href="https://terafoundation.org/map.html" target="_blank" style="font-size: 14px;">TERA NETWORK MAP</a>.<br />
                        5. <a href="https://terafoundation.org/files/TERA_WP_EN.pdf" target="_blank" style="font-size: 14px;">TERA WHITE PAPER (EN)</a>.<br />
                        6. <a href="https://terafoundation.org/files/TERA_WP_RU.pdf" target="_blank" style="font-size: 14px;">TERA WHITE PAPER (RU)</a>.<br />
                        7. <a href="https://terafoundation.org/files/TERA_WP_DE.pdf" target="_blank" style="font-size: 14px;">TERA WHITE PAPER (DE)</a>.<br />
                        8. <a href="https://sourceforge.net/p/tera/code/ci/master/tree/Doc/Chinese/WP_chinese.pdf?format=raw" target="_blank" style="font-size: 14px;">TERA WHITE PAPER (CN)</a>.<br />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey" style="text-align: justify;">

                        <h3><i class="fas fa-globe" style="color: #000; font-size: 21px;"></i> TERA COMMUNITY</h3>

                        1. <a href="https://bitcointalk.org/index.php?topic=4573801.0" target="_blank" style="font-size: 14px;">TERA on BitcoinTalk</a>.<br />
                        2. <a href="https://twitter.com/terafoundation" target="_blank" style="font-size: 14px;">TERA on Twitter</a>.<br />
                        3. <a href="https://www.reddit.com/user/Terafoundation" target="_blank" style="font-size: 14px;">TERA on Reddit</a>.<br />
                        4. <a href="https://discord.gg/CvwrbeG" target="_blank" style="font-size: 14px;">TERA on Discord</a>.<br />
                        5. <a href="https://web.telegram.org/#/im?p=@terafoundation" target="_blank" style="font-size: 14px;">TERA Telegram Chanel</a>.<br />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about bg-grey" style="text-align: justify;">

                        <h3><i class="fas fa-handshake" style="color: #000; font-size: 21px;"></i> OTHER</h3>

                        1. <a href="http://freetimes.cc/fmessenger/" target="_blank" style="font-size: 14px;">FMessenger</a>.
                    </div>
                </div>
                <!-- /About Tera content -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->

    </div></div> 
    <!-- Feedback -->
    <div id="feedback" class="section md-padding" style="display: none;">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header">
                    <h2 class="title md-down-left">Feedback</h2>
                </div>
                <!-- /Section header -->
                <form>
                    <input type="text" placeholder="Your Name..."  class="form-control" /><br />
                    <input type="text" placeholder="Your Name..."  class="form-control" /><br />
                    <textarea placeholder="Your Message..." class="form-control"></textarea><br />
                    <input type="submit" value="   Send   " class="btn" />
                </form>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Feedback -->
{{File=./SITE/cn/footer.html}}