<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta data-n-head="true" data-hid="description" name="description" content="Tera - Fast block generation, High transaction throughput, User-friendly">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>TERA Foundation: COIN</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="../CSS/bootstrap.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../CSS/style.min.css" />

    <style>
        @media all
        {
            .nav .open>a, .nav .open>a:focus, .nav .open>a:hover
            {
                background-color: rgba(250, 250, 250, .1);
                border-color: #337ab7;
            }

            /*.dropdown2 li*/
            /*{*/
                /*background-color: rgba(250, 250, 250, .01);*/
                /*opacity: 1;*/
            /*}*/
            /*.dropdown2 li a*/
            /*{*/
                /*background-color: rgba(250, 250, 250, .01);*/
                /*opacity: 1;*/
            /*}*/



            #nav.nav-transparent:not(.fixed-nav) .main-nav>li>a
            {
                color:white;
            }
        }

    </style>

    {{File=./SITE/metrika.html}}

</head>

<body>
	<!-- Header -->
	<header id="home" style="background: #1C1D21; height: 80px; top: 0px; position: absolut;">

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="index.html">
							<img class="logo" src="../PIC/Tera_Text_gray.svg" alt="logo">
							<img class="logo-alt" src="../PIC/Tera_Text.svg" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
 {{File=./SITE/cn/header.html}}
				<!-- /Main navigation -->

			</div>
		</nav>






		<!-- /Nav -->

		<!-- Social Header -->
		<div class="home-wrapper">
			<div class="container">

                <!-- Row -->
                <div class="row">
    
    
                </div>
                <!-- /Row -->
    
            </div>
		</div>
		<!-- /About Tera -->

	</header>
    <!-- /Header -->

	<!-- About Tera -->
	<div id="about" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">
				<!-- About Tera content -->
				<div class="col-md-12">
					<div class="section-header text-center">
						<h2 class="title">ТОКЕН TERA</h2>
					</div>
                    <p>
TERA 是一个货币；现有加密货币在以下方面存在问题：中心化、交易吞吐量、交易速度、确认时间、交易税费以及一般可用性、难以整合到现有支付系统和金融系统。TERA提供了针对以上问题的解决方案。 <br /> <br />
TERA是纯原创代码，由俄罗斯Vtools（大家称之为小V神）核心开发。Tera使用node.js编译，并有单独的dapp（分布式应用）开发文档。node.js是编程领域使用最广泛的语言之一，它大大降低了TERA-dapp的开发难度，开发成本极低，智能合约开发只需要100 Teras，调用合约和完成交易都没有佣金。这为Tera应用的大规模落地奠定了基础
                    </p>
				</div>
				<!-- /About Tera content -->
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->

	</div>
	<!-- /About Tera -->


    <div id="features" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">交易所&伙伴</h2>
                </div>
                <!-- /Section header -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>QBTC</h3>
                        <p><a href="https://www.qbtc.ink/trade?symbol=TERA_BTC" target="_blank"><img src="../PIC/qbtc.png" style="border-radius: 16px;" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>Bitalong</h3>
                        <p><a href="https://www.bitalong.com/trade/index/market/tera_usdt/" target="_blank"><img src="../PIC/bitalong.png" style="border-radius: 16px;" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>Bitmesh</h4>
                        <p><a href="https://bitmesh.com/exchange?market=btc_tera#/" target="_blank"><img src="../PIC/bitmesh.png" style="border-radius: 16px;" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>CHAOEX</h4>
                        <p><a href="https://chaoex-en-us.udesk.cn/hc/articles/83487" target="_blank"><img src="../PIC/chaoex.png" style="border-radius: 16px;" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->

                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>CITEX</h4>
                        <p><a href="https://www.citex.co.kr/#/trade/2/37" target="_blank"><img src="../PIC/citex.png" style="border-radius: 16px;" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->
                <!-- Key Feature -->
                <div class="col-md-4">
                    <div class="about bg-grey">
                        <h4>FMessenger</h4>
                        <p><a href="http://freetimes.cc/fmessenger/" target="_blank"><img src="../PIC/fm.png" style="border-radius: 16px;" /></a></p>
                    </div>
                </div>
                <!-- /Key Feature -->
            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <div id="about" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <!-- About Tera content -->
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2 class="title">矿业</h2>
                    </div>
                    <p align="center">
<a href="https://sourceforge.net/p/tera/code/ci/master/tree/README.md" target="_blank" style="font-size: 14px;">TERA文档</a> 的文档将有助于今天开始挖掘。
                    </p>

                </div>
                <!-- /About Tera content -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->

    </div>
	<!-- Footer -->
    <!-- Footer -->
 {{File=./SITE/cn/footer.html}}